<%@ Control Language="vb" AutoEventWireup="false" Codebehind="Navigation.ascx.vb" Inherits="SSTransfer.Navigation" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<table width="100%" cellpadding="2" cellspacing="0" border="1" bordercolor="#990000">
	<TBODY>
		<tr>
			<td runat="server" id="tdHome" width="1%" nowrap align="middle" bgcolor="#440000">
				<asp:LinkButton id="lbHome" Font-Name="arial" ForeColor="white" runat="server" Font-Size="x-small" Font-Bold="true">Home</asp:LinkButton>
			</td>
			<td runat="server" id="tdNewTrans" width="1%" nowrap align="middle" bgcolor="#440000">
				<asp:LinkButton id="lbNewTrans" Font-Name="arial" ForeColor="white" runat="server" Font-Size="x-small" Font-Bold="true">New Transfer</asp:LinkButton>
			</td>
			<td runat="server" id="tdCheckIn" width="1%" nowrap align="middle" bgcolor="#440000">
				<asp:LinkButton id="lbCheckIn" Font-Name="arial" ForeColor="white" runat="server" Font-Size="x-small" Font-Bold="true">Check In </asp:LinkButton>
			</td>
			<td bgcolor="#440000">
				&nbsp;
			</td>
		</tr>
	</TBODY>
</table>
</TR></TBODY></TABLE>
