<%@ Control Language="vb" AutoEventWireup="false" Codebehind="Header.ascx.vb" Inherits="DirectoryMaint.Header" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<table cellSpacing="0" cellPadding="0" width="100%" bgColor="#000000" border="0">
	<tr>
		<td><br>
		</td>
	</tr>
	<tr>
		<td align='left'><asp:HyperLink Runat="server" ID="hlInternet">
				<asp:Image id="imgCompany" runat="server"></asp:Image>
			</asp:HyperLink></td>
		<td align='right'></td>
	</tr>
	<tr>
		<td colspan='2' align='right' valign='top'></td>
		<td colspan='2' align='right' valign='top'></td>
	</tr>
	<tr>
	</tr>
	<tr>
	</tr>
	<tr>
	</tr>
	<tr>
	</tr>
	<TR>
		<td colspan='2' align='right'><asp:Label Runat="server" ID="strTitle" ForeColor="red" Font-Name="Arial" Font-Size="Medium" Font-Names="Arial"></asp:Label></td>
	</TR>
	<tr>
		<td colspan='2'><hr color='#990000'>
		</td>
		<td colspan='2'><hr color='#990000'>
		</td>
	</tr>
</table>
