<%@ Control Language="vb" AutoEventWireup="false" Codebehind="Header.ascx.vb" Inherits="StoreMOS.Header" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<table border='0' cellspacing='0' cellpadding='0' width='750'>
	<tr>
		<td><asp:ImageButton id="ibLogo" runat="server"></asp:ImageButton></td>
		<td></td>
		<td width='1200' align='right' valign='top'>
			<table width='20%' border='1' bordercolor='#990000' cellspacing='0' cellpadding='0'>
				<tr>
					<td bgcolor='#440000' align='middle'><font size='3' face='Arial' color='red'><b>
								<asp:Label id="lblUserName" Font-Size="Smaller" Font-Names="Arial" ForeColor="Red" runat="server"></asp:Label>&nbsp;</b></font></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan='2' align='left'><font face="arial" color="white" size="3"><b>Store:</b></font>&nbsp;<asp:Label id="lblStore" runat="server" ForeColor="White" Font-Names="Arial" Font-Size="Larger"></asp:Label></td>
		<td colspan='2' align='right'><font face='Arial'>
				<asp:Label id="lblHeaderPage" runat="server" ForeColor="Red" Font-Names="Arial" Font-Size="Larger"></asp:Label></font></td>
	</tr>
	<tr>
		<td colspan='2'><hr color='#990000'>
		</td>
		<td colspan='2'><hr color='#990000'>
		</td>
	</tr>
</table>
