/* STYLES FOR TABLE RELATED ELEMENTS BY KLAUS */
/* CLASSES, example: <font class="w468"> x </font> */

TABLE.pageOuterFrame
{	background-color: #FFFFFF;
 	
	}

TABLE.dataGrid
{
   background-color: #FFFFFF;
	
 	
}



TR.std
{
	background: White;
	font: normal 6pt Arial;
}

TD.std
{
	background: White;
   font: normal 6pt Arial;
}

TD.hdrCell
{
		background-color: Black;
}