<%@ Page Language="vb" AutoEventWireup="false" Codebehind="GenerateManifest.aspx.vb" Inherits="SSTransfer.ActiveManifest" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>ActiveManifest</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio.NET 7.0">
		<meta name="CODE_LANGUAGE" content="Visual Basic 7.0">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<script src="Javascript/TrapKeyPress.js" language="JavaScript"></script>
		<script src="Javascript/DisableClientBack.js" language="JavaScript"></script>
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="FormManifest" method="post" runat="server">
		</form>
	</body>
</HTML>
