<!-- #include file="globalconst.asp" -->
<%@ Page CodeBehind="gheader.aspx.vb" Language="vb" AutoEventWireup="false" Inherits="ReferenceLists.WebForm2" %>
<Script runat="server">
'Displays the top part of the main frame
Private Sub gShowHeader(byRef strTitle As String)
   
	Response.Write ("<table border='0' cellspacing='0' cellpadding='0' width='100%'>")
	Response.Write ("<tr>")
	Response.Write ("<td align='left'><asp:Image id="imgCompany" runat="server"></asp:Image> </td>")
	Response.Write ("<td align='right'>  <A HREF='http://www.torrid.com'> <img src='Images/TorridBlk.jpg' border='0' alt='Torrid'></A></td></tr>")
	'Response.Write ("<td  colspan='2' align='right' valign='Top'></td><td  colspan='2'  align='right' valign='Top'>")
	'Response.Write ("<table width='40%' border='1' bordercolor='#990000' cellspacing='0' cellpadding='0'><tr><td bgcolor='#440000' align='right'>")
	'Response.Write ("<font size='2' face'Arial' color='Red'><b>&nbsp; </b></font>")
	'Response.Write ("</td></tr>")
    'had to comment out in order to get to work.
	'If Len(Request.Cookies("User")("UserName")) <> 0 Then
		'Response.Write ("<tr onclick=""document.location='lstephens/hottopic/home.asp?Mode=Logoff';""><td bgcolor='#440000' align='center'>")
		'Response.Write ("<a href='home.asp?Mode=Logoff' style={text-decoration:none;} ><font size='2' face='" & gcMainFontFace & "' color='Red'><b>log off</b></font></a>")
		'Response.Write ("</td></tr>")
	'End If
	'Response.Write ("</table>")
    Response.Write ("<tr></tr>")
	Response.Write ("<tr></tr>")
	Response.Write ("<tr></tr>")
	Response.Write ("<tr></tr>")
	'Response.Write ("<tr><td colspan='2' align='left'><font face='Arial'><font size='+1' color='White'>" & strStore & "</font></td>")
	Response.Write ("<td colspan='2' align='right'><font face='Arial'><font size='+1' color='Red'>" & strTitle & "</font></td></tr>")
	Response.Write ("<tr>")
	Response.Write ("<td colspan='2'><hr color='#990000'></td>")
	Response.Write ("<td colspan='2'><hr color='#990000'></td>")
	Response.Write ("</tr>")
	Response.Write ("</table>")
End Sub
</Script>
