
	
	INPUT.I1{
	background-color: #FFFFFF;
	font-family: Arial;
	color: #000000;
	border-style: solid;
	border-color: #990000;
	width: 40;
	}

	INPUT.I2{
	background-color: #440000;
	font-family: Arial;
	font-weight: bold;
	color: #FF0000;
	border-style: solid;
	border-color: #990000;
	width: 25;
	height: 20;
	}
	
	INPUT.I3{
	background-color: #FFFFFF;
	font-family: Arial;
	color: #000000;
	border-style: solid;
	border-color: #990000;
	}
	
	INPUT.B1{
	background-color: #440000;	
	color: #FFFFFF; 
	font-weight: bold; 
	border-style: solid; 
	border-color: #990000;

	}
	.menu
{
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	visibility:hidden
}
.dl
{
	font-family: verdana, arial, geneva, sans-serif; 
	font-size: 7.9pt; 
	color: #ffffff;
	text-decoration: none;
}
A.dl
{
	color: #ffffff;
	text-decoration: none;
}
A.dl:active
{
	color: #ffffff;
	text-decoration: none;
}
A.dl:link
{
	color: #ffffff;
	text-decoration: none;
}
A.dl:visited
{
	color: #ffffff;
	text-decoration: none;
}
A.dl:hover
{
	color: #ffffff;
	text-decoration: none;
}
.white79 {
	font-family: verdana, arial, geneva, sans-serif; 
	font-size: 7.9pt; 
	color: #FFFFFF
}
.cellValueWhite
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left
}
.errStyle
{
    FONT-SIZE: 8pt;
    COLOR: #ff0000;
    FONT-FAMILY: Arial;
    font-weight:bold;
    TEXT-ALIGN: left
}
.cellValueLeft
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left
}
.reqStyle
{
    FONT-SIZE: 10pt;
    COLOR: red;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center
}
.cellValueCaption
{
	font-size: 8pt;
	font-family: Arial;
	
	color:#ffffff;
	font-weight:bold;
}
.pageCaption
{
	font-size: 12pt;
	font-family: Arial;
	text-align: center;
	color:#ffffff;
	font-weight:bold;
}
.btnSmall
{
	background-color: #440000;	
	color: #FFFFFF; 
	font-weight: bold; 
	border-style: solid; 
	border-color: #990000;
	font-size: 8pt;	
	cursor: hand;	
	font-family: Arial, 'Times New Roman';
}
.GridStyle
{
	border-right: #990000 2px solid;
	border-top: #990000 2px solid;
	border-left: #990000 2px solid;
	border-bottom: #990000 2px solid;
	
}
.GridHeaderStyle
{
	font-weight: bold;
	font-size: xx-small;
	vertical-align: middle;
	color: #ffffff;
	font-family: Arial;
	background-color: #440000;
	text-align: left;
	
}
.GridItemStyle
{	
	font-size: xx-small;
	vertical-align: middle;
	color: #ffffff;
	font-family: Arial;
	background-color: #000000;
	text-align: left;
	border-right: #990000 2px solid;
	border-top: #990000 2px solid;
	border-left: #990000 2px solid;
	border-bottom: #990000 2px solid;
}
.GridAlternateStyle
{
	
	font-size: xx-small;
	vertical-align: middle;	
	color: #ffffff;	
	font-family: Arial;
	background-color: #808080;
	text-align: left;
	border-right: #990000 2px solid;
	border-top: #990000 2px solid;
	border-left: #990000 2px solid;
	border-bottom: #990000 2px solid;
}
.pagerStyle
{
    FONT-SIZE: 8pt;
    COLOR: white;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center
}