
	
	INPUT.I1{
	background-color: #FFFFFF;
	font-family: Arial;
	color: #000000;
	border-style: solid;
	border-color: #990000;
	width: 40;
	}

	INPUT.I2{
	background-color: #440000;
	font-family: Arial;
	font-weight: bold;
	color: #FF0000;
	border-style: solid;
	border-color: #990000;
	width: 25;
	height: 20;
	}
	
	INPUT.I3{
	background-color: #FFFFFF;
	font-family: Arial;
	color: #000000;
	border-style: solid;
	border-color: #990000;
	}
	
	INPUT.B1{
	background-color: #440000;	
	color: #FFFFFF; 
	font-weight: bold; 
	border-style: solid; 
	border-color: #990000;

	}
	.RedBg
{
	border-right: red 1px solid;
	border-top: red 1px solid;
	font-size: xx-small;
	border-left: red 1px solid;	
	border-bottom: red 1px solid;
	
}
	
	.menu
{
	position:absolute;
	top:0;
	left:0;
	z-index:100;
	visibility:hidden
}
.dl
{
	font-family: verdana, arial, geneva, sans-serif; 
	font-size: 7.9pt; 
	color: #ffffff;
	text-decoration: none;
}
A.dl
{
	color: #ffffff;
	text-decoration: none;
}
A.dl:active
{
	color: #ffffff;
	text-decoration: none;
}
A.dl:link
{
	color: #ffffff;
	text-decoration: none;
}
A.dl:visited
{
	color: #ffffff;
	text-decoration: none;
}
A.dl:hover
{
	color: #ffffff;
	text-decoration: none;
}
.white79 {
	font-family: verdana, arial, geneva, sans-serif; 
	font-size: 7.9pt; 
	color: #FFFFFF
}
.menuHighlight
{
	font-size: 7.9pt;
	color: #ffffff;
	font-family: verdana, arial, geneva, sans-serif;
	background-color: #4ebfde;
}
.menuRegular{
	font-family: verdana, arial, geneva, sans-serif; 
	font-size: 7.9pt; 
	color: #FFFFFF;
	background-color: #246178;
}

.cellValueWhite
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Arial;
  
}
.errStyle
{
     FONT-SIZE: 8pt;
    COLOR: #ff0000;
    FONT-FAMILY: Arial;
    font-weight:bold;
    
}
.cellValueLeft
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left
}
.cellValueSmall
{	
	font-size: 7pt;
	color: black;
	font-family: Arial,'Arial Narrow';
	text-align: left;
}
.reqStyle
{
    FONT-SIZE: 10pt;
    COLOR: red;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center
}
.cellValueCaption
{
	font-size: 8pt;
	font-family: Arial;
	
	color: black;
	font-weight:bold;
}
.pageCaption
{
	font-size: 12pt;
	font-family: Arial;
	text-align: center;
	color:#000000;
	font-weight:bold;
}
.btnSmall
{
	
	font-size: 8pt;	
	font-family: Arial, 'Times New Roman';
	
	
	background-color: #440000;	
	color: #FFFFFF; 
	font-weight: bold; 
	border-style: solid; 
	border-color: #990000;
}
.btnSmallGrey
{
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	font-weight: bold;
	font-size: 7pt;
	border-left: #000000 1px solid;
	cursor: hand;
	border-bottom: #000000 1px solid;
	font-family: Arial, 'Times New Roman';
	background-color: #d3d3d3;
}
.btnGrey
{
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	font-weight: bold;
	font-size: 8pt;
	border-left: #000000 1px solid;
	cursor: hand;
	border-bottom: #000000 1px solid;
	font-family: Arial, 'Times New Roman';
	background-color: #d3d3d3;
}
.GridStyle
{
	border-right: #990000 2px solid;
	border-top: #990000 2px solid;
	border-left: #990000 2px solid;
	border-bottom: #990000 2px solid;
	
}
.GridHeaderStyle
{
	font-weight: bold;
	font-size: xx-small;
	vertical-align: middle;
	color: #ffffff;
	font-family: Arial;
	background-color: #440000;
	text-align: left;
	
}
.GridItemStyle
{	
	font-size: xx-small;
	vertical-align: middle;
	color: #ffffff;
	font-family: Arial;
	background-color: #000000;
	text-align: left;
	border-right: #990000 2px solid;
	border-top: #990000 2px solid;
	border-left: #990000 2px solid;
	border-bottom: #990000 2px solid;
}
.GridAlternateStyle
{
	
	font-size: xx-small;
	vertical-align: middle;	
	color: #ffffff;	
	font-family: Arial;
	background-color: #808080;
	text-align: left;
	border-right: #990000 2px solid;
	border-top: #990000 2px solid;
	border-left: #990000 2px solid;
	border-bottom: #990000 2px solid;
}
.pagerStyle
{
    FONT-SIZE: 8pt;
    COLOR: white;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center
}
.stepStyleOn
{
	font-size: 8pt;
	color:#4e87de;
	font-family: Arial;
	text-align: left;
	vertical-align: baseline;	

}
.stepStyleOff
{
	font-size: 8pt;
	color:#cccccc;
	font-family: Arial;
	text-align: left;
	vertical-align: baseline;	

}
.contentLtText
{
	font-size: 11px;
	color: #89bcce;
	font-family: Verdana,Arial, Helvetica;
}
	.contentMdText
{
	font-size: 11px;
	color: #74aabd;
	font-family: Verdana,Arial, Helvetica;
}
	.contentDkText
{
	font-weight: bold;
	font-size: 16px;
	color: #659bad;
	font-family: Verdana,Arial, Helvetica;
}
	.contentText
{
	font-size: 11px;
	color: #659bad;
	font-family: Verdana,Arial, Helvetica;
}
	.contentTextSmall
{
	font-size: 9px;
	color: #659bad;
	font-family: Verdana,Arial, Helvetica;
}
	.contentTextStrong
{
	font-size: 10px;
	color: #659bad;
	font-family: Verdana,Arial, Helvetica;
	font-weight:bold;
}
	.contentTextSmallWhite
{
	font-size: 9px;
	color: #ffffff;
	font-family: Verdana,Arial, Helvetica;
}
/*
@media print {
	BODY
	{
		size: landscape;
	}
}
*/