<%@ Page Language="vb" AutoEventWireup="false" Codebehind="main.aspx.vb" Inherits="ReportDistroAdmin.main" %>
<HTML>
	<body>
		<!--#include file="include/header.inc"-->
		<form id="Form1" method="post" runat="server">
			<table width="100%" align="center">
				<tr>
					<td width="100%" align="center">
						<br>
						<table width="300" height="300" align="center" cellpadding="0" cellspacing="0" style="BORDER-RIGHT: #990000 thin solid; BORDER-TOP: #990000 thin solid; BORDER-LEFT: #990000 thin solid; BORDER-BOTTOM: #990000 thin solid">
							<tr>
								<td>
									<font style="FONT-WEIGHT: bold; FONT-SIZE: 22pt; COLOR: #990000; FONT-FAMILY: Arial">
										<P>&nbsp;Report
										</P>
										<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Distribution
										</P>
										<P>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
											System V1.0</P>
									</font>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</form>
		<!--#include file="include/footer.inc"-->
	</body>
</HTML>
