<%@ Page Language="vb" AutoEventWireup="false" Codebehind="ViewXML.aspx.vb" Inherits="SSTransfer.ViewXML" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>ViewXML</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio.NET 7.0">
		<meta name="CODE_LANGUAGE" content="Visual Basic 7.0">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body bgcolor="#FFFFFF">
		<form id="Form1" method="post" runat="server">
			<table bgcolor="#FFFFFF" width="100%" height="100%">
				<tr>
					<td>
						<asp:TextBox Wrap="True" Width="100%" Height="100%" id="TextBox1" runat="server" TextMode="MultiLine"></asp:TextBox>
					</td>
				</tr>
			</table>
		</form>
	</body>
</HTML>
