<%@ Control Language="vb" AutoEventWireup="false" Codebehind="Logo.ascx.vb" Inherits="HRMain.Logo" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<asp:HyperLink id="hypHotTopic" runat="server" NavigateUrl="/home/home.aspx" Target="_blank" ImageUrl="http://hottopic.scene7.com/is/image/HotTopic/ht_logo?fmt=png-alpha"></asp:HyperLink>
<asp:HyperLink id="hypTorrid" runat="server" NavigateUrl="/home/home.aspx" Target="_blank" ImageUrl="http://hottopic.scene7.com/is/image/HotTopic/torridlogo?fmt=png-alpha"></asp:HyperLink>
<asp:HyperLink ID="hypBoxLunch" runat="server" NavigateUrl="" Target="_blank" ImageUrl="/Images/BoxLunch.png"></asp:HyperLink>