<%@ Page Language="vb" AutoEventWireup="false" Codebehind="Sidebar.aspx.vb" Inherits="HRMain.frmSidebar"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>Sidebar</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio.NET 7.0">
		<meta name="CODE_LANGUAGE" content="Visual Basic 7.0">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<LINK id="lnkStyles" type="text/css" rel="stylesheet" runat="server" />
	</HEAD>
	<body leftMargin="0" rightMargin="0" topmargin="0" bottommargin="0">
		<form id="frmSidebar" method="post" runat="server" style="LEFT: 0px; POSITION: absolute; TOP: 0px">
		</form>
	</body>
</HTML>
