<%@ Register TagPrefix="uc1" TagName="Header" Src="Header.ascx" %>
<%@ Page language="c#" Codebehind="StoreActionOption.aspx.cs" AutoEventWireup="false" Inherits="ShipToStore.StoreActionSelect" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>OrderSearch</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="C#" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
		<LINK id="lnkStyles" href="./Style/Style.css" type="text/css" rel="stylesheet">
	</HEAD>
	<body bottomMargin="0" topMargin="0" MS_POSITIONING="FlowLayout">
		<form id="Form1" method="post" runat="server">
			<div id="header"><uc1:header id="Header1" runat="server"></uc1:header></div>
			<div id="main" class="height: 540px;">
				<br>
				<TABLE id="tblLogin" class="innerTableLog" cellSpacing="0" cellPadding="1" width="98%"
					height="450" align="center" border="0">
					<tr>
						<td>
							<table width="237" align="center" border="0" cellSpacing="0" cellPadding="1" style="WIDTH: 237px; HEIGHT: 101px">
								<TBODY>
									<tr>
										<td colspan="3"><A href="./OrderSearch.aspx"><IMG src="Image/SearchButton.jpg" Width="476" Height="93" vspace="5" border="0"></A></td>
									</tr>
									<tr>
										<td colspan="3" height="18"></td>
									</tr>
									<tr class="tableCell">
										<td colspan="3"><A href="./RecevInStore.aspx"><IMG src="Image/ReceiveAtStore.jpg" Width="476" Height="93" vspace="5" border="0"></A></td>
						</td>
					</tr>
				</TABLE>
				</TD></TR></TBODY></TABLE>
				<br>
				<table height="50" cellSpacing="0" cellPadding="1" width="98%" align="center" border="0">
					<tr>
						<td vAlign="top" align="right"></td>
					</tr>
				</table>
			</div>
		</form>
	</body>
</HTML>
