<%@ Page Language="vb" AutoEventWireup="false" Codebehind="Export_LS_StoreList.aspx.vb" Inherits="StoreMaint.Export_LS_StoreList"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title>Export_LS_StoreList</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio.NET 7.0">
		<meta name="CODE_LANGUAGE" content="Visual Basic 7.0">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</head>
	<body MS_POSITIONING="GridLayout">
		<form id="frmExport" method="post" runat="server">
		</form>
	</body>
</html>
