<%@ Page Language="vb" AutoEventWireup="false" Codebehind="ReportSetupComplete.aspx.vb" Inherits="ReportDistro.ReportSetupComplete"%>
<HTML>
	<!--#include file="../include/header.inc"-->
	<body>
		<form id="Form1" method="post" runat="server">
			<table width="100%" align="center">
				<tr>
					<td width="100%" align="center">
						<br>
						<table width="300" height="150" align="center" cellpadding="0" cellspacing="0" style="BORDER-RIGHT: #990000 thin solid; BORDER-TOP: #990000 thin solid; BORDER-LEFT: #990000 thin solid; BORDER-BOTTOM: #990000 thin solid">
							<tr>
								<td align=center class=cellvaluecaption>
									ReportID <%=request("ReportID")%> setup completed successfully.
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</form>
		<!--footer-->
</td>
</tr>
<tr><td><hr color='#990000'></td><td><hr color='#990000'></td><td><hr color='#990000'></td><td><hr color='#990000'></td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td align='right'><input class='B1' type='button' name='Home' value='Home' onClick="document.location='Home.htm';" ID="Button1"></td></tr>
</table>
</form>
</body>
</html>