<%@ Page Language="vb" AutoEventWireup="false" Codebehind="NoTitleFound.aspx.vb" Inherits="SOP.NoTitleFound"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>NoTitleFound</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<LINK id="lnkStyles" href="http://172.16.125.2/StyleSheets/HotTopic.css" type="text/css"
			rel="stylesheet" runat="server" />
	</HEAD>
	<body MS_POSITIONING="GridLayout" leftmargin="0" rightmargin="0" topmargin="0" bottommargin="0">
		<iframe class="Header_Frame" id="Iframe1" marginWidth="0" hspace="0" marginHeight="0" src="http://172.16.125.2/Header/Header.aspx?mode=hottopic"
			frameBorder="0" width="100%" scrolling="no" runat="server"></iframe>
		<form id="Form1" method="post" runat="server">
			<table width="100%">
				<tr>
					<td class="Title">No Search Matching the words Or the file has been deleted in the 
						server.</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
			</table>
		</form>
	</body>
</HTML>
