
	INPUT.I1{
	background-color: #FFFFFF;
	font-family: Arial;
	color: #000000;
	border-style: solid;
	border-color: #990000;
	width: 40;
	}

	INPUT.I2{
	background-color: #440000;
	font-family: Arial;
	font-weight: bold;
	color: #FF0000;
	border-style: solid;
	border-color: #990000;
	width: 25;
	height: 20;
	}
	
	INPUT.I3{
	background-color: #FFFFFF;
	font-family: Arial;
	color: #000000;
	border-style: solid;
	border-color: #990000;
	}
	
	INPUT.B1{
	background-color: #440000;	
	color: #FFFFFF; 
	font-weight: bold; 
	border-style: solid; 
	border-color: #990000;

	}
