<%@ Register TagPrefix="ucLayout" TagName="Footer" Src="Layout/Footer.ascx" %>
<%@ Register TagPrefix="ucLayout" TagName="Header" Src="Layout/Header.ascx" %>
<%@ Page Language="vb" AutoEventWireup="false" Codebehind="default.aspx.vb" Inherits="SSTransfer.WebForm_TransferHome" smartNavigation="False"%>
<%@ Register TagPrefix="iewc" Namespace="Microsoft.Web.UI.WebControls" Assembly="Microsoft.Web.UI.WebControls, Version=1.0.2.226, Culture=neutral, PublicKeyToken=31bf3856ad364e35" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>Transfer Home ccc</title>
		<meta content="Microsoft Visual Studio.NET 7.0" name="GENERATOR">
		<meta content="Visual Basic 7.0" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
		<script src="Javascript/AllowOneSubmit.js" language="JavaScript"></script>
		<script src="Javascript/DisableClientBack.js" language="Javascript"></script>
		<script src="Javascript/TrapKeyPress.js" language="Javascript"></script>
	</HEAD>
	<body  bottomMargin="0" vLink="white" aLink="white" link="white" leftMargin="0" topMargin="0" scroll="no" rightMargin="0">
		<form id="frmTransferHome" method="post" runat="server" onsubmit="return checkSubmit();">
			<table height="100%" cellSpacing="0" cellPadding="0" width="100%" bgColor="#000000" border="0">
				<tr>
					<td height="1"><uclayout:header id="layoutHeader" runat="server"></uclayout:header></td>
				</tr>
				<tr>
					<td vAlign="top" align="middle">
						<br>
						<br>
						<table cellSpacing="0" cellPadding="5" width="100%" border="0">
							<tr>
								<td>
									<table borderColor="#990000" cellSpacing="0" cellPadding="0" width="100%" border="1">
										<tr>
											<td align="middle"><iewc:multipage id="TabStripView" style="BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: medium none; PADDING-TOP: 5px; BORDER-BOTTOM: #000000 1px solid" runat="server">
													<iewc:PageView>
														<div style="OVERFLOW-Y: auto;  WIDTH: 100%; HEIGHT: 280px;scrollbar-base-color:#440000;scrollbar-arrow-color:#ffffff;scrollbar-highlight-color:#990000;">
															<table cellSpacing="0" cellPadding="2" width="100%" border="0">
																<tr>
																	<td>
																		<asp:datagrid OnSortCommand="SortCommand_Arrivals" AllowSorting="False" id="grdArrivals" runat="server" Font-Names="Arial" Font-Size="X-Small" ForeColor="White" CellSpacing="1" CellPadding="2" Width="100%" EnableViewState="false" BorderWidth="0" AutoGenerateColumns="False" BackColor="#111111">
																			<AlternatingItemStyle BackColor="#333333"></AlternatingItemStyle>
																			<Columns>
																				<asp:BoundColumn SortExpression="3" DataField="Sending_Store_Name" HeaderText="Sent From">
																					<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#440000"></HeaderStyle>
																				</asp:BoundColumn>
																				<asp:BoundColumn SortExpression="5" DataFormatString="{0:d}" DataField="Shipment_Date" HeaderText="Ship Date">
																					<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#440000"></HeaderStyle>
																				</asp:BoundColumn>
																				<asp:HyperLinkColumn SortExpression="1" DataTextField="Box_Id" HeaderText="Transfer #" DataNavigateUrlField="Box_Id" datanavigateurlformatstring="ViewTransfer.aspx?BID={0}&RET=default.aspx">
																					<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#440000"></HeaderStyle>
																				</asp:HyperLinkColumn>
																				<asp:TemplateColumn HeaderText="Type">
																					<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#440000"></HeaderStyle>
																					<ItemTemplate>
																						<asp:Label Runat="server" Font-Name="arial" Font-Size="x-small" ForeColor="white">
																							<%# GetBoxTransferTypes(Container.dataitem("Box_Id")) %>
																						</asp:Label>
																					</ItemTemplate>
																				</asp:TemplateColumn>
																				<asp:TemplateColumn HeaderText="Tracking #">
																					<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#440000"></HeaderStyle>
																					<ItemTemplate>
																						<asp:HyperLink Target=_blank Font-Name="arial" Font-Size="x-small" ForeColor="white" ID=TL1 Runat=server NavigateUrl='<%# Replace(Container.dataitem("TrackingURL"),"{0}", Container.dataitem("Tracking_Num")) %>'><%# Container.dataitem("Tracking_Num") %></asp:HyperLink>
																					</ItemTemplate>
																				</asp:TemplateColumn>
																				<asp:BoundColumn DataField="Status_Desc" HeaderText="Status">
																					<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#440000"></HeaderStyle>
																				</asp:BoundColumn>
																			</Columns>
																		</asp:datagrid>
																	</td>
																</tr>
															</table>
														</div>
													</iewc:PageView>
													<iewc:PageView>
														<div style="OVERFLOW-Y: auto; WIDTH: 100%; HEIGHT: 280px;scrollbar-base-color:#440000;scrollbar-arrow-color:#ffffff;scrollbar-highlight-color:#990000;">
															<table cellSpacing="0" cellPadding="2" width="100%" border="0">
																<tr>
																	<td>
																		<asp:datagrid OnSortCommand="SortCommand_Shipped" AllowSorting="False" id="grdShipped" runat="server" Font-Names="Arial" Font-Size="X-Small" ForeColor="White" CellSpacing="1" CellPadding="2" Width="100%" EnableViewState="false" BorderWidth="0" AutoGenerateColumns="False" BackColor="#111111">
																			<AlternatingItemStyle BackColor="#333333"></AlternatingItemStyle>
																			<Columns>
																				<asp:BoundColumn SortExpression="3" DataField="Receiving_Store_Name" HeaderText="Sent To">
																					<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#440000"></HeaderStyle>
																				</asp:BoundColumn>
																				<asp:BoundColumn SortExpression="6" DataFormatString="{0:d}" DataField="Shipment_Date" HeaderText="Ship Date">
																					<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#440000"></HeaderStyle>
																				</asp:BoundColumn>
																				<asp:HyperLinkColumn SortExpression="1" DataTextField="Box_Id" HeaderText="Transfer #" DataNavigateUrlField="Box_Id" datanavigateurlformatstring="ViewTransfer.aspx?BID={0}&RET=default.aspx">
																					<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#440000"></HeaderStyle>
																				</asp:HyperLinkColumn>
																				<asp:TemplateColumn HeaderText="Type">
																					<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#440000"></HeaderStyle>
																					<ItemTemplate>
																						<asp:Label Runat="server" Font-Name="arial" Font-Size="x-small" ForeColor="white" ID="Label1">
																							<%# GetBoxTransferTypes(Container.dataitem("Box_Id")) %>
																						</asp:Label>
																					</ItemTemplate>
																				</asp:TemplateColumn>
																				<asp:TemplateColumn HeaderText="Tracking #">
																					<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#440000"></HeaderStyle>
																					<ItemTemplate>
																						<asp:HyperLink Target=_blank Font-Name="arial" Font-Size="x-small" ForeColor="white" ID="TL2" Runat=server NavigateUrl='<%# Replace(Container.dataitem("TrackingURL"),"{0}", Container.dataitem("Tracking_Num")) %>'><%# Container.dataitem("Tracking_Num") %></asp:HyperLink>
																					</ItemTemplate>
																				</asp:TemplateColumn>
																				<asp:BoundColumn SortExpression="5" DataField="Status_Desc" HeaderText="Status">
																					<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#440000"></HeaderStyle>
																				</asp:BoundColumn>
																			</Columns>
																		</asp:datagrid>
																	</td>
																</tr>
															</table>
														</div>
													</iewc:PageView>
													<iewc:PageView>
														<div style="OVERFLOW-Y: auto; WIDTH: 100%; HEIGHT: 280px;scrollbar-base-color:#440000;scrollbar-arrow-color:#ffffff;scrollbar-highlight-color:#990000;">
															<table cellSpacing="0" cellPadding="2" width="100%" border="0">
																<tr>
																	<td>
																		<asp:datagrid OnSortCommand="SortCommand_SavedTransfers" AllowSorting="False" id="grdSavedTransfers" runat="server" Font-Names="Arial" Font-Size="X-Small" ForeColor="White" CellSpacing="1" CellPadding="2" Width="100%" EnableViewState="false" BorderWidth="0" AutoGenerateColumns="False" BackColor="#111111">
																			<AlternatingItemStyle BackColor="#333333"></AlternatingItemStyle>
																			<Columns>
																				<asp:BoundColumn SortExpression="3" DataField="Receiving_Store_Name" HeaderText="Sent To">
																					<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#440000"></HeaderStyle>
																				</asp:BoundColumn>
																				<asp:TemplateColumn SortExpression="1" HeaderText="Transfer #">
																					<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#440000"></HeaderStyle>
																					<ItemTemplate>
																						<a href='NewTransferForm.aspx?BID=<%# Container.dataitem("Box_Id") %>&TType=<%# Container.dataitem("TType") %>'>
																							<asp:Label Runat="server" Font-Name="arial" Font-Size="x-small" ForeColor="white" ID="Label4">
																								<%# Container.dataitem("Box_Id") %>
																							</asp:Label>
																						</a>
																					</ItemTemplate>
																				</asp:TemplateColumn>
																				<asp:TemplateColumn HeaderText="Type">
																					<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#440000"></HeaderStyle>
																					<ItemTemplate>
																						<asp:Label Runat="server" Font-Name="arial" Font-Size="x-small" ForeColor="white" ID="Label2">
																							<%# GetBoxTransferTypes(Container.dataitem("Box_Id")) %>
																						</asp:Label>
																					</ItemTemplate>
																				</asp:TemplateColumn>
																				<asp:BoundColumn SortExpression="4" DataField="Employee" HeaderText="Employee">
																					<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#440000"></HeaderStyle>
																				</asp:BoundColumn>
																				<asp:BoundColumn SortExpression="6" DataFormatString="{0:d}" DataField="Modified_Date" HeaderText="Saved Date">
																					<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#440000"></HeaderStyle>
																				</asp:BoundColumn>
																				<asp:BoundColumn SortExpression="5" DataField="Status_Desc" HeaderText="Status">
																					<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#440000"></HeaderStyle>
																				</asp:BoundColumn>
																			</Columns>
																		</asp:datagrid>
																	</td>
																</tr>
															</table>
														</div>
													</iewc:PageView>
													<iewc:PageView>
														<div style="OVERFLOW-Y: auto; WIDTH: 100%; HEIGHT: 280px;scrollbar-base-color:#440000;scrollbar-arrow-color:#ffffff;scrollbar-highlight-color:#990000;">
															<table cellSpacing="0" cellPadding="2" width="100%" border="0">
																<tr>
																	<td>
																		<asp:datagrid OnSortCommand="SortCommand_SavedCheckIns" AllowSorting="False" id="dgSavedCheckIns" runat="server" Font-Names="Arial" Font-Size="X-Small" ForeColor="White" CellSpacing="1" CellPadding="2" Width="100%" EnableViewState="false" BorderWidth="0" AutoGenerateColumns="False" BackColor="#111111">
																			<AlternatingItemStyle BackColor="#333333"></AlternatingItemStyle>
																			<Columns>
																				<asp:BoundColumn SortExpression="3" DataField="Sending_Store_Name" HeaderText="Sent From">
																					<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#440000"></HeaderStyle>
																				</asp:BoundColumn>
																				<asp:BoundColumn SortExpression="6" DataFormatString="{0:d}" DataField="Shipment_Date" HeaderText="Ship Date">
																					<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#440000"></HeaderStyle>
																				</asp:BoundColumn>
																				<asp:HyperLinkColumn SortExpression="1" DataTextField="Box_Id" HeaderText="Transfer #" DataNavigateUrlField="Box_Id" datanavigateurlformatstring="CheckInTransfer.aspx?BID={0}">
																					<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#440000"></HeaderStyle>
																				</asp:HyperLinkColumn>
																				<asp:TemplateColumn HeaderText="Type">
																					<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#440000"></HeaderStyle>
																					<ItemTemplate>
																						<asp:Label Runat="server" Font-Name="arial" Font-Size="x-small" ForeColor="white" ID="Label3">
																							<%# GetBoxTransferTypes(Container.dataitem("Box_Id")) %>
																						</asp:Label>
																					</ItemTemplate>
																				</asp:TemplateColumn>
																				<asp:TemplateColumn HeaderText="Tracking #">
																					<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#440000"></HeaderStyle>
																					<ItemTemplate>
																						<asp:HyperLink Target=_blank Font-Name="arial" Font-Size="x-small" ForeColor="white" ID="Hyperlink1" Runat=server NavigateUrl='<%# Replace(Container.dataitem("TrackingURL"),"{0}", Container.dataitem("Tracking_Num")) %>'><%# Container.dataitem("Tracking_Num") %></asp:HyperLink>
																					</ItemTemplate>
																				</asp:TemplateColumn>
																				<asp:BoundColumn SortExpression="5" DataField="Status_Desc" HeaderText="Status">
																					<HeaderStyle Font-Bold="True" ForeColor="White" BackColor="#440000"></HeaderStyle>
																				</asp:BoundColumn>
																			</Columns>
																		</asp:datagrid>
																	</td>
																</tr>
															</table>
														</div>
													</iewc:PageView>
													<iewc:PageView>
														<div style="OVERFLOW-Y: auto; WIDTH: 100%; HEIGHT: 280px;scrollbar-base-color:#440000;scrollbar-arrow-color:#ffffff;scrollbar-highlight-color:#990000;">
															<table cellSpacing="0" cellPadding="2" width="100%" border="0">
																<tr>
																	<td>
																		<asp:datagrid OnSortCommand="SortCommand_PrintQueue" AllowSorting="False" id="grdPrintQueue" runat="server" Font-Names="Arial" Font-Size="X-Small" ForeColor="White" CellSpacing="1" CellPadding="2" Width="100%" EnableViewState="false" BorderWidth="0" AutoGenerateColumns="False" BackColor="#111111">
																			<AlternatingItemStyle BackColor="#333333"></AlternatingItemStyle>
																			<Columns>
																				<asp:HyperLinkColumn ItemStyle-Wrap="False" HeaderStyle-Width="15%" SortExpression="1" DataTextFormatString="{0:d}" DataTextField="Box_Id" HeaderText="Transfer #" DataNavigateUrlField="Box_Id" datanavigateurlformatstring="ViewTransfer.aspx?BID={0}&RET=default.aspx">
																					<HeaderStyle Wrap="False" Font-Bold="True" ForeColor="White" BackColor="#440000"></HeaderStyle>
																				</asp:HyperLinkColumn>
																				<asp:BoundColumn ItemStyle-Wrap="False" HeaderStyle-Width="15%" SortExpression="2" DataFormatString="{0:d}" DataField="Shipment_Date" HeaderText="Shipment Date">
																					<HeaderStyle Wrap="False" Font-Bold="True" ForeColor="White" BackColor="#440000"></HeaderStyle>
																				</asp:BoundColumn>
																				<asp:TemplateColumn HeaderStyle-Width="65%">
																					<HeaderStyle HorizontalAlign="center" Font-Bold="True" ForeColor="White" BackColor="#440000"></HeaderStyle>
																					<ItemStyle HorizontalAlign="center"></ItemStyle>
																					<ItemTemplate>
																						&nbsp;
																					</ItemTemplate>
																				</asp:TemplateColumn>
																				<asp:TemplateColumn HeaderStyle-Width="5%" HeaderText="UPS Label">
																					<HeaderStyle Wrap="False" HorizontalAlign="center" Font-Bold="True" ForeColor="White" BackColor="#440000"></HeaderStyle>
																					<ItemStyle HorizontalAlign="center"></ItemStyle>
																					<ItemTemplate>
																						<asp:PlaceHolder Runat=server Visible='<%# Container.DataItem("UPSDisplay") %>' ID="Placeholder1">
																								<img id="imgUPS" src="Images\ups.gif" onclick="javascript:window.open('GenerateUPS.aspx?Label=<%# Server.UrlEncode("UPSLabels\ShippingLabel_" & Container.dataitem("Tracking_Num") & ".gif" )%>','UPS','toolbar=1,center=1,scrollbar=no,status=no,width=700,height=400');">	
																						</asp:PlaceHolder>
																					</ItemTemplate>
																				</asp:TemplateColumn>
																				<asp:TemplateColumn HeaderStyle-Width="5%" HeaderText="Manifest">
																					<HeaderStyle HorizontalAlign="center" Font-Bold="True" ForeColor="White" BackColor="#440000"></HeaderStyle>
																					<ItemStyle HorizontalAlign="center"></ItemStyle>
																					<ItemTemplate>
																						<a target=_blank href='GenerateManifest.aspx?BID=<%# container.dataitem("Box_Id") %>'>
																							<asp:Image Runat="server" ID="imgManifest" ImageUrl='Images\printed.gif'></asp:Image></a>
																					</ItemTemplate>
																				</asp:TemplateColumn>
																			</Columns>
																		</asp:datagrid>
																	</td>
																</tr>
															</table>
														</div>
													</iewc:PageView>
												</iewc:multipage></td>
										</tr>
									</table>
									<table cellSpacing="0" cellPadding="0" width="100%" border="0">
										<tr>
											<td align="middle">
												<iewc:tabstrip id="tsGrids" runat="server" targetId="TabStripView" TabSelectedStyle="background-color:#990000;color:#FFFFFF" TabHoverStyle="background-color:#990000;color:#FFFFFF;" TabDefaultStyle="background-color:#440000;font-family:arial;font-weight:bold;font-size:x-small;color:#999999;width:120;height:21;text-align:center" BorderColor="#990000" Font-Names="Arial" Font-Size="Small" ForeColor="White" AutoPostBack="True">
													<iewc:Tab Text="Expected Arrivals"></iewc:Tab>
													<iewc:TabSeparator></iewc:TabSeparator>
													<iewc:Tab Text="Recently Shipped"></iewc:Tab>
													<iewc:TabSeparator></iewc:TabSeparator>
													<iewc:Tab Text="Packing"></iewc:Tab>
													<iewc:TabSeparator></iewc:TabSeparator>
													<iewc:Tab Text="Unpacking"></iewc:Tab>
													<iewc:TabSeparator></iewc:TabSeparator>
													<iewc:Tab Text="Print History"></iewc:Tab>
												</iewc:tabstrip>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<br>
						<hr width="100%" color="#990000">
						<table cellSpacing="0" cellPadding="2" width="100%" border="0">
							<tr><td width=1%><img src="images\info.gif" border=0></td><td valign=middle><asp:Label Runat=server ID="lblHelpLabel" Font-Name=arial ForeColor=white Font-Size=small></asp:Label></td></tr>
						</table>
						<hr width="100%" color="#990000">
					</td>
				</tr>
				<tr>
					<td height="1"><uclayout:footer id="layoutFooter" runat="server"></uclayout:footer></td>
				</tr>
			</table>
		</form>
	</body>
</HTML>
