<!-- #include file="globalconst.asp" -->
<Script runat="server">
'Displays the top part of the main frame
Private Sub gShowHeader(byRef strTitle As String)

	'Dim strName

	'If Len(Request.Cookies("User")("UserName")) = 0  Then
		'strName = "&nbsp;"
	'Else
		'strName = Request.Cookies("User")("UserName")
	'End If


	Response.Write ("<table border='0' cellspacing='0' cellpadding='0' width='750'>")
	Response.Write ("<tr>")
	Response.Write ("<td> <A HREF='http://www.torrid.com'><img src='Images/hdr_main2.gif' border='0' alt='Hot Topic' ></A></td>")
	'Response.Write "<td>  <A HREF='http://www.torrid.com'> <img src='Images/TorridBlk.jpg' border='0' alt='Torrid' ></A></td>"
	'Response.Write "<td> <A HREF='http://www.hottopic.com'><img src='Images/hdr_main2.gif' border='0' alt='Hot Topic' ></A></td>"
	Response.Write ("<td  width='120' align='right' valign='Top'>")
	Response.Write ("<table width='100%' border='1' bordercolor='#990000' cellspacing='0' cellpadding='0'><tr><td bgcolor='#440000' align='center'>")
	Response.Write ("<font size='2' face'Arial' color='Red'><b>&nbsp; </b></font>")
	Response.Write ("</td></tr>")
'had to comment out in order to get to work.
	'If Len(Request.Cookies("User")("UserName")) <> 0 Then
		'Response.Write ("<tr onclick=""document.location='lstephens/hottopic/home.asp?Mode=Logoff';""><td bgcolor='#440000' align='center'>")
		'Response.Write ("<a href='home.asp?Mode=Logoff' style={text-decoration:none;} ><font size='2' face='" & gcMainFontFace & "' color='Red'><b>log off</b></font></a>")
		'Response.Write ("</td></tr>")
	'End If

	Response.Write ("</table>")

	Response.Write ("</tr>")
	Response.Write ("<tr><td colspan='2' align='right'><font face='Arial'><font size='+1' color='Red'>" & strTitle & "</font></td></tr>")
	Response.Write ("<tr>")
	Response.Write ("<td colspan='2'><hr color='#990000'></td>")
	Response.Write ("</tr>")
	Response.Write ("</table>")

End Sub
</Script>
