<%@ Page Language="vb" AutoEventWireup="false" Codebehind="SessionAlive.aspx.vb" Inherits="SSTransfer.SessionAlive"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>SessionAlive</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio.NET 7.0">
		<meta name="CODE_LANGUAGE" content="Visual Basic 7.0">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body leftmargin="0" rightmargin="0" topmargin="0" bottommargin="0" bgcolor="#330000">
		<form id="Form1" method="post" runat="server">
		</form>
	</body>
</HTML>
