<%@ Page Language="vb" AutoEventWireup="false" Codebehind="StoreNotFound.aspx.vb" Inherits="DCSS.StoreNotFound"%>
<HTML>
	<HEAD>
		<title>DC to Store Shipments</title>
		<LINK href="include/Styles.css" type="text/css" rel="stylesheet">
	</HEAD>
	<body text="white" vLink="white" aLink="white" link="white" bgColor="black" face="arial">
		<table id="Table1" cellSpacing="0" cellPadding="0" width="750" border="0">
			<tr>
				<td>
					<%if InStr(Request.Url.ToString, "Torrid", CompareMethod.Text) > 0 then%>
					<A href="http://www.torrid.com"><img src='Images/TorridBlk.jpg' border='0' alt='Torrid'></A>
					<%else%>
					<A HREF='http://www.hottopic.com'><img src='Images/hdr_main2.gif' border='0' alt='hottopic'></A>
					<%end if%>
				</td>
				<td></td>
				<td width='1200' align='right' valign='top'>
			<tr>
			</tr>
			<tr>
			</tr>
			<tr>
			</tr>
			<tr>
			</tr>
			<tr>
				<td colspan='2' align='left'><font face='Arial'><font size='+1' color='white'></font></font></td>
				<td colspan='2' align='right'><font face='Arial'><font size='+1' color='red'>DC to Store 
							Shipments v1.0 </font></font>
				</td>
			</tr>
			<tr height="3">
				<td colspan='2' height="3"><hr color='#990000'>
				</td>
				<td colspan='2' height="3"><hr color='#990000'>
				</td>
			</tr>
			<tr>
				<td colspan="4">
				</td>
			</tr>
		</table>
		<!--end tree-->
		<table border='0' cellspacing='0' cellpadding='0' width='750' ID="Table3">
			<tr height="300">
				<td colspan="4" valign="top" align="middle">
					<!--end header-->
					<form id="Form1" method="post" runat="server">
						<br>
					<table align=center>
			<tr>
				<td class="errStyle">
					<!-- Error Message-->
					<%
						'redirecting to setStore.asp
						Response.Redirect("../../home/setstore.aspx")
					%>
				</td>
			</tr>
		</table>
						
					<!--footer-->
				</td>
			</tr>
			<tr>
				<td colspan=4>
					<hr color="#990000">
				</td>				
			</tr>
			<tr>
				<td colspan=4 align=right>
				<asp:button id="btnSubmit" CssClass="B1" Runat="server" Text="Submit"></asp:button>&nbsp;&nbsp;<input class="B1" id="Button1" onclick="document.location='../';" type="button" value="Home" name="Home"></td>
			</tr>
		</table>
		</FORM>
	</body>
</HTML>
