<%@ Control Language="vb" AutoEventWireup="false" Codebehind="ScanUPS.ascx.vb" Inherits="SSTransfer.ScanUPS" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<LINK id="lnkStyles" href="http://172.16.125.2/StyleSheets/Torrid.css" type="text/css" rel="stylesheet" runat="server"/>
<table cellSpacing="0" cellPadding="2" width="100%" border="0">
	<tr>
		<td class="Plain">
			<asp:dropdownlist id="ddlParcel" runat="server" AutoPostBack="True"></asp:dropdownlist>&nbsp;
			<asp:label id="lblUPSNumber" runat="server">Tracking #:</asp:label>&nbsp;
			<asp:textbox id="txtTrackingNumber" runat="server" Columns="30"></asp:textbox><asp:button id="btnSubmit" tabIndex="1" runat="server" Text=" " style="visibility: hidden" Width="10px"></asp:button>
		</td>
	</tr>
</table>
<script language="javascript">
<!--
	function clickButton() 
	{
		if (event.keyCode == 13) 
		{
			document.forms[0].ucScanUPS_btnSubmit.click();
			return false;
		}
	}
	
	document.forms[0].ucScanUPS_txtTrackingNumber.focus();
-->
</script>

