<%@ Control Language="vb" AutoEventWireup="false" Codebehind="SearchBox.ascx.vb" Inherits="SSTransfer.FilterBox" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<LINK id="lnkStyles" href="http://172.16.125.2/StyleSheets/Torrid.css" type="text/css" rel="stylesheet" runat="server"/>
<table cellSpacing="0" cellPadding="2" width="100%" border="0">
	<tr>
		<td><asp:Label id="lblFilter" Visible="false" runat="server" CssClass="sSelectShip">Filter On</asp:Label></td>
		<td align="right">
			<asp:textbox id="txtFilterQuery" runat="server" Columns="25" tabIndex="23"></asp:textbox>&nbsp;<asp:button id="btnFilter" Text="Filter" CssClass="sButton" runat="server" tabIndex="22"></asp:button>
		</td>
	</tr>
</table>
