<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="PhotoTracker._Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>

        <form id="panel" method="post" runat="server">
        
                <asp:panel runat=server id=pnlStage1 visible=False>
                <table border = "1"><tr><td>
                        What is your name?<br>
                        <asp:textbox runat=server id=txtName /><br>
           </td></tr>
           <tr class="tableTitle">
						<td colSpan="2">&nbsp; Photo Tracking</td>
					</tr>
					<tr>
						<td align = "center"><A href="./PhotoTrack.aspx"><IMG src="Image/PhotoTrackHT1.jpg" vspace="5" border="0"></A></td>
					</tr>
           </table>                 
                </asp:panel>
    

                <asp:panel runat=server id=pnlStage2 visible=False>
                               <table border = "1"><tr><td> 
                               What country do you live in?
                        <asp:textbox runat=server id=txtCountry /> <br>
 </td></tr>
 <tr>	<td colSpan="2">&nbsp; Photo Tracking</td>
					</tr>
					<tr>
						<td align = "center"><A href="./PhotoTrack.aspx"><IMG src="Image/AdminHT1.jpg" vspace="5" border="0"></A></td>
					</tr></table>                      
                </asp:panel>


                <asp:panel runat=server id=pnlStage3 visible=false>
                <table border = "1"><tr><td>
                        <asp:label runat=Server id=lblOutput />
                </td></tr></table>
                </asp:panel>

        </form>

</body>
</html>

  
