﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="Error.aspx.vb" Inherits="ReportDistro._Error" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div id="SessionExpireContain" runat="server">
    Session Expired.
    <br />
        <asp:Button ID="Button1" runat="server" Text="Button" />
    
    </div>
    <div id="generalMessage">Unexpected error</div>
    </form>
</body>
</html>
