<%@ Page Language="vb" AutoEventWireup="false" Codebehind="ViewReportFile.aspx.vb" Inherits="ReportDistro.ViewReportFile"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title>HotTopic</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio.NET 7.0">
		<meta name="CODE_LANGUAGE" content="Visual Basic 7.0">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<script>
		
		</script>
	</head>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
        <%--<asp:HyperLink runat="server" NavigateUrl="./Home/home.aspx" ID="loginRedirect" Text="Click Here" Visible=false/>--%>
		</form>
	</body>
</html>
