﻿@media print {
/** { display: none; }
div.print_block { display: block; }
*/
	input {display:none;}
}

body
{
	font: 80% arial, verdana, helvetica, sans-serif;
    text-align: center; /* for IE */
    size: landscape;
}

a 
{
    color: #993399;
    font: 10pt Arial bold;
    font-weight:bolder;
}

.innerTableLP
{
	 font: 5pt Arial;
	 border: solid 1px #000000;
	 padding: 1px 1px 1px 1px;
	 text-align:left;		
}

.innerTable
{
	 font: 12pt Arial;
	 border: solid 2px #000000;
	 padding: 2px 2px 2px 2px;
	 text-align:left;		
}

.innerTableView
{
	 font: 9pt Arial;
	 border: solid 2px #000000;
	 padding: 2px 2px 2px 2px;
	 text-align:left;
	 border-collapse: collapse;		
}

.innerTableView td
{
    border: solid 1px Black;
    border-collapse: collapse;
}

.innerTableDetail
{
	font: 12pt Arial;
	border-top-width:2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-color: Black;
	border-style: solid;
	padding: 1px 1px 1px 1px;
	text-align:left;
	border-collapse: collapse;
}

TableViewEmpty
{
	 font: 10pt Arial;
	 border: solid 0px #ffffff;
	 padding: 2px 2px 2px 2px;
	 text-align:left;
}

.footerTable
{
	 font: 10pt Arial;
	 border: solid 2px #000000;
	 padding: 2px 2px 2px 2px;
	 text-align:left;
}

.innerTableLog
{
	 font: 12pt Arial;
	 border: solid 2px #000000;
	 padding: 2px 2px 2px 2px;
	 text-align:left;
	 background-color: #DCDCDC;
}

.tableTitle
{
	font: 14pt Impact;
	color: #000;
	padding: 2px 2px 2px 2px;
}

.tableInput
{
	text-decoration: none;
	border-top-width:2px; 
	border-right-width: 2px; 
	border-bottom-width: 2px; 
	border-left-width: 2px;
	border-color: Black;
	border-style: solid;
	background-color: #DCDCDC;
}

.tableInputWhite
{
	text-decoration: none;
	border-top-width:2px; 
	border-right-width: 2px; 
	border-bottom-width: 2px; 
	border-left-width: 2px;
	border-color: Black;
	border-style: solid;
	background-color: #ffffff;
}

.tableCell
{
	padding: 2px 2px 2px 2px;
	height: 40px;	
}

.fontSmallBold
{
	font: 9pt Impact;
	color: Black;
}

.fontMediumBold
{
	font: 10pt Impact;
	color: Black;
}
.fontSmallBoldRedColor
{
	font: 10pt Impact;
	color: #CC0099;
}

.fontSmallBoldColor
{
	font: 10pt Impact;
	color: #996633;
}

.buttonRed
{
	font: 14pt Impact;
	color: #ff99ff;
	background-color: Black;
	border: solid 2px #ff99ff;
}

.buttonYellow
{
	font: 14pt Impact;
	color: #fff568;
	background-color: Black;
	border: solid 2px #fff568;
}

#header
{
    width: 1000px;
    background-color: White;
    height: 100px;  
    border: white 0px solid;
    margin: 0 auto;   /* align for good browsers */
    text-align: left; /* counter the body center */
    padding:2px 5px 0px 5px;
    font: 10pt Arial;
}

#headerTable
{
	 font: bold 10pt Arial ;
}

#storeCell
{
	 padding: 0px 10px 0px 0px;	
}

#footer
{ 
	width: 1000px;
    background-color: White;
    background-repeat: no-repeat;
    height: 35px;
    text-align: right;
    font: 8pt Arial ;
    color: White;
}

thead 
{  
   display:table-header-group;  
} 
        
tbody 
{  
    display:table-row-group;  
}

.printTD
{
	border-bottom:1px solid black; 
	page-break-inside: avoid;
}

.printHeadTD
{
	border-bottom:2px solid black; 
	background-color:#D3D3D3; 
	page-break-inside: avoid;
	font: bold 9pt Arial;
}

.printHeadTDLP
{
	border-bottom:1px solid black; 
	background-color:#D3D3D3; 
	page-break-inside: avoid;
	font: bold 6pt Arial;
}

.printTable 
{  
	border:white 1px solid;  
	font: 9pt Arial;
	padding: 2px 2px 2px 2px;
	text-align:left;
	border-collapse: collapse;		
}

printTableTR 
{
	page-break-inside: avoid;
}

.printTableTitle
{
	border-bottom:2px solid black; 
	font: 14pt Impact;
    color: #000;
    padding: 2px 2px 2px 2px;	
}

#main 
{
	margin: 0 auto;   /* align for good browsers */
	text-align: left; /* counter the body center */
	background-color: White;
	vertical-align: top; 
	width: 1000px;
	overflow:hidden;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	border: white 0px solid;    
}