/* FONT STYLES BY KLAUS */
/* CLASSES, example: <font class="white12"> x </font> */

/* WHITE */


FONT.white6
{
	color: white;
	font-family: Arial;
	font-size: 6pt;	
}

FONT.white7
{
	color: white;
	font-family: Arial;
	font-size: 7pt;
}

FONT.white8
{color: white;
font-family: Tahoma, Arial, Helvetica;
font-size: 8pt;
font-weight: lighter;
text-decoration: none;
text-transform: none;}

FONT.white9
{color: white;
font-family: Tahoma, Arial, Helvetica;
font-size: 9pt;
font-weight: lighter;
text-decoration: none;
text-transform: none;}

FONT.white10
{color: white;
font-family: Tahoma, Arial, Helvetica;
font-size: 10pt;
font-variant: normal;
font-weight: normal;
text-decoration: none;
text-transform: none}

FONT.white12
{color: white;
font-family: Tahoma, Arial, Helvetica;
font-size: 12pt;
font-variant: normal;
font-weight: normal;
text-decoration: none;
text-transform: none}

FONT.white14
{color: white;
font-family: Arial, Helvetica, tahoma;
font-size: 14pt;
font-style: normal;
font-variant: normal;
font-weight: normal;
text-decoration: none;
text-transform: none}

FONT.white16
{color: white;
font-family: Arial, Helvetica, tahoma;
font-size: 16pt;
font-style: normal;
font-variant: normal;
font-weight: normal;
text-decoration: none;
text-transform: none}


FONT.white10_bi
{color: white;
font-family: Tahoma, Arial, Helvetica;
font-size: 10pt;
font-weight: normal;
text-decoration: none;
text-transform: none;
font-style : italic}


/* GREY - two different shades of it */
FONT.grey1_Bold10
{color: #BFBFBF;
font-family: Tahoma, Arial, Helvetica;
font-size: 10pt;
font-variant: normal;
font-weight: normal;
text-decoration: none;
text-transform: none}

FONT.grey2_Bold10
{color: #E9E9E9;
font-family: Tahoma, Arial, Helvetica;
font-size: 10pt;
font-variant: normal;
font-weight: normal;
text-decoration: none;
text-transform: none}

/* BLACK - some with margin settings */
FONT.black10_marg
{color: black;
font-family: Tahoma, Arial, Helvetica;
font-size: 10pt;
font-weight: normal;
text-decoration: none;
text-transform: none;
margin-left: 5px;
margin-right: 5px;
}

FONT.black10i
{color: black;
font-family: Tahoma, Arial, Helvetica;
font-size: 10pt;
font-weight: normal;
text-decoration: none;
text-transform: none;
 font-style : italic;
}

FONT.black16
{color: black;
font-family: Arial, Helvetica, tahoma;
font-size: 16pt;
font-style: normal;
font-variant: normal;
font-weight: bold;
text-decoration: none;
text-transform: none}

Font.black22arial
{color: black;
font-family: Arial, Helvetica, tahoma;
font-size: 22pt;
font-style: normal;
font-variant: normal;
font-weight: bold;
text-decoration: none;
text-transform: none}


/* RED */
FONT.red10i
{color: red;
font-family: Tahoma, Arial, Helvetica;
font-size: 10pt;
font-weight: normal;
text-decoration: none;
text-transform: none;
font-style : italic}

FONT.red10
{color: red;
font-family: Tahoma, Arial, Helvetica;
font-size: 10pt;
font-variant: normal;
font-weight: normal;
text-decoration: none;
text-transform: none;}

FONT.red14
{color: red;
font-family: Tahoma, Arial, Helvetica;
font-size: 14pt;
font-variant: normal;
font-weight: normal;
text-decoration: none;
text-transform: none;}