<%@ Page Language="vb" AutoEventWireup="false" Codebehind="ListReports.aspx.vb" Inherits="ReportDistro.ListReports"%>
<%@ Page Language="vb" AutoEventWireup="false" Codebehind="SubmitReport.aspx.vb" Inherits="ReportDistro.SubmitReport1"%>
<HTML>
	<body>
		<!--#include file="../include/header.inc"-->
		
		<form id="Form1" method="post" runat="server">
			<table align=center width=750>
			<tr>
				<td>
				
				</td>
			</tr>
			</table>
			<!-- end here-->
			<!--footer--> </TD></TR><tr>
				<td>
					<hr color="#990000">
				</td>
				<td>
					<hr color="#990000">
				</td>
				<td>
					<hr color="#990000">
				</td>
				<td>
					<hr color="#990000">
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td align="right">
					
					&nbsp;&nbsp;<input class="B1" id="Button1" onclick="document.location='Home.htm';" type="button" value="Home" name="Home"></td>
			</tr>
			</TABLE></form>
	</body>
</HTML>

