/* Default CSS Stylesheet for a new Web Application project */

A {
	COLOR: white ;
	font-family: Arial;
	font-size: x-small;
	font-weight: bold;
	}
	
A:hover	{	
	color:	white;
	}
	
A:visited	{	
	color:	white;
	}	
		
A.HotTopic {
	BACKGROUND-COLOR: #440000; 
	BORDER-COLOR: #990000; 
	BORDER-STYLE: solid ;
	border-width: thin;
	FONT-SIZE: x-small; 
	FONT-WEIGHT: bold; 
	HEIGHT: 24px; 
	padding: 2 10 2 10;
	TEXT-ALIGN: center; 
	TEXT-DECORATION: none; 
	}
	
A.Login {
	COLOR: white ;
	font-family: Arial;
	font-size: xx-small;
	font-weight: bold;
	}

A.Login:hover
{}

A.Login:visited
{}
	
A.Portal
{
	background-color: #246178;
	color: white;
	font-size: xx-small;
	font-weight: bold;
	TEXT-DECORATION: none; 
}

A.Portal:hover
{
	color: white;
	TEXT-DECORATION: underline; 
}

A.Portal:visited
{
	color: white;
}

A.Portal_Everyone
{
	background-color: DimGray;
	color: white;
	font-size: xx-small;
	font-weight: bold;
	TEXT-DECORATION: none; 
}

A.Portal_Everyone:hover
{
	color: white;
	TEXT-DECORATION: underline; 
}

A.Portal_Everyone:visited
{
	color: white;
}

BODY
{
    BACKGROUND-COLOR: black;
    COLOR: white;
    FONT-FAMILY: Arial;
    FONT-SIZE: x-small;
    FONT-WEIGHT: bold;
    LETTER-SPACING: normal;
    margin:0;
    TEXT-TRANSFORM: none;
    WORD-SPACING: normal;
}

BODY.Header
{
    BACKGROUND-COLOR: black;
    COLOR: white;
    FONT-FAMILY: Arial;
    FONT-SIZE: x-small;
    FONT-WEIGHT: bold;
    LETTER-SPACING: normal;
    margin: 0;
    TEXT-TRANSFORM: none;
    WORD-SPACING: normal;
}

HR {
	color: #990000;
	font-size: 2px;
	height: 2px;
}

INPUT.B1 {
	BACKGROUND-COLOR: #440000; 
	border-color: #990000;
	border-style: solid;
	COLOR: #ffffff; 
	font-family: Arial;
	font-size: x-small;
	FONT-WEIGHT: bold; 
	}

SPAN
{
    COLOR: White;
    FONT-FAMILY: Arial;
    FONT-SIZE: x-small;
    FONT-WEIGHT: bold;
}

.Message
{
	color: #d60c8c;
	font-family: Arial;
	font-size: small;
	font-weight: bold
}

.Portal	{	
	font-family: Arial;
	font-size:	xx-small;
	}	
	
.PORTAL_Everyone
{
	background-color: DimGray;
	Font-Size: XX-Small;
	Font-Weight: bold;
 }

.HRAdmin
{
	background-color: #440000;
	border-color: #990000;
}

.BC111111	{	
	background-color: #111111;
	font-family: Arial;
	font-size:	x-small;
	font-weight: normal;
	}	

.BC111111Sm	{	
	background-color: #111111;
	font-family: Arial;
	font-size:	xx-small;
	font-weight: normal;
	}	

.BC333333	{	
	background-color: #606060;
	font-family: Arial;
	font-size:	x-small;
	font-weight: normal;
	}	

.BC333333Sm	{	
	background-color: #606060;
	font-family: Arial;
	font-size:	xx-small;
	font-weight: normal;
	}	

.BlackBack
{
	background-color: black;
}

.SelectedRow
{
	background-color: red;
}

.DATAGRID
{
	background-color: #440000;
	border-color: #990000;
	border-style: solid;
	border-width: 2px;
	color: white;
	font-family: Arial;
	font-size: x-small;
	font-weight: bold;
}

.Datagrid td
{
	border-color: #990000;
	border-width: 1px;
}

.Datagrid a:link {font-size:x-small;}
.Datagrid a:visited {font-size:x-small;}
.Datagrid a:hover {font-size:x-small;}
.Datagrid Span {font-size:x-small;}

.Datagrid a:link {font-size:x-small;}
.Datagrid a:visited {font-size:x-small;}
.Datagrid a:hover {font-size:x-small;}
.Datagrid Span {font-size:x-small;}

.DatagridSm
{
	background-color: #440000;
	border-color: #990000;
	border-style: solid;
	border-width: 2px;
	color: white;
	font-family: Arial;
	font-size: xx-small;
	font-weight: bold;
}

.DatagridSm td
{
	border-color: #990000;
	border-width: 1px;
}

.DatagridSm a:link {COLOR: white ;font-size:xx-small;}
.DatagridSm a:visited {COLOR: white ;font-size:xx-small;}
.DatagridSm a:hover {COLOR: white ;font-size:xx-small;}
.DatagridSm Span {font-size:xx-small;}

.DATAGRID_AlternatingItem
{
	background-color: #CCCCCC;
	border-style: solid;
	border-width: 2px
}

.DATAGRID_Header
{
	background-color: #440000;
	border-color: #990000;
	border-style: solid;
	border-width: 2px;
	color: white;
	font-size: x-small;
	font-weight: bold;
}

.DATAGRID_Header a:link {font-size:x-small;}
.DATAGRID_Header a:visited {font-size:x-small;}
.DATAGRID_Header a:hover {font-size:x-small;}
.DATAGRID_Header Span {font-size:x-small;}

.DATAGRID_HeaderSm
{
	background-color: #440000;
	border-color: #990000;
	border-style: solid;
	border-width: 2px;
	color: white;
	font-size: xx-small;
	font-weight: bold;
}

.DATAGRID_HeaderSm a:link {font-size:xx-small;}
.DATAGRID_HeaderSm a:visited {font-size:xx-small;}
.DATAGRID_HeaderSm a:hover {font-size:xx-small;}
.DATAGRID_HeaderSm Span {font-size:xx-small;}

.Header_Bottom
{
	background-color:#990000;
	height:2;
 }

.Header_Frame
{
	height:95px;
}

.Header_Store
{
	color:White;
	font-family:Arial;
	font-size:Medium;
	font-weight:normal;
}

.Header_Table
{
	background-color: #440000;
	border: solid;
	border-color: #990000;
	border-width: 1;
	color: Red;
}

.Header_Title	{	
	color: Red;
	font-family:Arial;
	font-size: medium;
	font-weight:normal;
	}	

.Normal
{
    COLOR: White;
    FONT-FAMILY: Arial;
    FONT-SIZE: x-small;
    FONT-WEIGHT: bold;
}

.XXSmall
{
    COLOR: White;
    FONT-FAMILY: Arial;
    FONT-SIZE: xx-small;
    FONT-WEIGHT: bold;
}

.Plain {
	COLOR: #ffffff;
	font-family: Arial;
	font-size: x-small;
	font-weight: normal;
	}
	
.Portal_Blue
{
	background-color: #246178;
	color: White;
	font-family: Arial;
	font-size:	xx-small;
}

.Portal_Head
{
	font-family: Arial,Verdana, Helvetica, sans-serif; 
	font-size: 20px; 
	font-weight: normal; 
	color: #659bad; 
}

.Red
{
	border-style:None;
	color: Red;
	font-family:Arial;
	font-size:X-Small;
	font-weight:bold;
	TEXT-DECORATION: none; 
}

.Red:hover
{
	color: Red;
	TEXT-DECORATION: none; 
}

.Red:visited
{
	color: Red;
	TEXT-DECORATION: none; 
}

.RedUL
{
	border-style:None;
	color: Red;
	font-family:Arial;
	font-size:X-Small;
	font-weight:bold;
	TEXT-DECORATION: underline; 
}

.RedUL:hover
{
	color: Red;
	TEXT-DECORATION: underline; 
}

.RedUL:visited
{
	color: Red;
	TEXT-DECORATION: underline; 
}

.Right
{
	text-align:right;
}

.Scrollbar
{
	background-color: black;
scrollbar-arrow-color:#FFFFFF;
scrollbar-base-color:#440000;
scrollbar-highlight-color:#990000;
}

.Title
{
	color: white;
	font-family: Arial;
	font-size: small;
	font-weight: bold;
}

.WeekDays
{
	background-color: #246178;
	color: White;
	font-family: Arial;
	font-size:	xx-small;
	FONT-WEIGHT: bold;
	text-align: center;
 }

/******************************************************************
****			BEGIN Report Distro,DCSS Styles					***	
******************************************************************/

.cellValueWhite
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left
}
.errStyle
{
    FONT-SIZE: 8pt;
    COLOR: #ff0000;
    FONT-FAMILY: Arial;
    font-weight:bold;
    TEXT-ALIGN: left
}
.cellValueLeft
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: left
}
.reqStyle
{
    FONT-SIZE: 10pt;
    COLOR: red;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center
}
.cellValueCaption
{
	font-size: 8pt;
	font-family: Arial;
	
	/*COLOR: #ffffff;*/
	font-weight:bold;
}
.pageCaption
{
	font-size: 12pt;
	font-family: Arial;
	text-align: center;
	/*COLOR: #ffffff;*/
	font-weight:bold;
}
 .white79 {
	font-family: verdana, arial, geneva, sans-serif; 
	font-size: 7.9pt; 
	color: #FFFFFF
}
.btnSmall
{
	background-color: #440000;	
	COLOR: #ffffff;
	font-weight: bold; 
	border-style: solid; 
	border-color: #990000;
	font-size: 8pt;	
	cursor: hand;	
	font-family: Arial, 'Times New Roman';
}
.GridStyle
{
	border-right: #990000 2px solid;
	border-top: #990000 2px solid;
	border-left: #990000 2px solid;
	border-bottom: #990000 2px solid;
	
}
.GridHeaderStyle
{
	font-weight: bold;
	font-size: xx-small;
	vertical-align: middle;
	/*COLOR: #ffffff;*/
	font-family: Arial;
	background-color: #440000;
	text-align: left;
	
}
.GridItemStyle
{	
	font-size: xx-small;
	vertical-align: middle;
	/*COLOR: #ffffff;*/
	font-family: Arial;
	background-color: #000000;
	text-align: left;
	border-right: #990000 2px solid;
	border-top: #990000 2px solid;
	border-left: #990000 2px solid;
	border-bottom: #990000 2px solid;
}
.GridAlternateStyle
{
	
	font-size: xx-small;
	vertical-align: middle;	
	/*COLOR: #ffffff;*/
	font-family: Arial;
	background-color: #808080;
	text-align: left;
	border-right: #990000 2px solid;
	border-top: #990000 2px solid;
	border-left: #990000 2px solid;
	border-bottom: #990000 2px solid;
}
.pagerStyle
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Arial;
    TEXT-ALIGN: center
}

.contentTextSmall
{
	font-size: 9px;
	color: #659bad;
	font-family: Verdana,Arial, Helvetica;
}
.footNote
{
	font-weight: bold;
	font-size: 8pt;
	color: #ff8c00;
	font-family: Arial, Verdana, Helvetica;
}
.RedBG
 {
	background-color: #990000;	
 }
 .TableBorder
{
	border-right: #990000 1px solid;
	border-top: #990000 1px solid;
	border-left: #990000 1px solid;
	border-bottom: #990000 1px solid;
}
/* DCSS calendar styles*/
.CalStyle
{
	border-right: #990000 1px solid;
	border-top: #990000 1px solid;
	border-left: #990000 1px solid;
	border-bottom: #990000 1px solid;	
}
.CalTitleStyle
{
	font-weight: bold;
	font-size: 10px;
	color: #ffffff;	
	font-family: Arial,Verdana, Helvetica;	
	height: 20px;
	background-color: #990000;
	
}
.CalDayHeaderStyle
{
	border-right: 1px solid;
	border-top: 1px solid;
	font-size: 10px;
	border-left: 1px solid;
	color: #ffffff;
	border-bottom: 1px solid;
	height: 20px;
}
.CalDayStyle
{
	border-right: #990000 1px solid;
	border-top: #990000 1px solid;
	font-size: 9px;
	border-left: #990000 1px solid;
	color: #ffffff;
	border-bottom: #990000 1px solid;
	height: 30px;
	text-align: left;
}
/*TAB styles*/
	.tab
{
	border-right: #ff0000 1px solid;	
	border-top: #ff0000 1px solid;
	border-left: #ff0000 1px solid;
	width: 100%;
	color: #333;	
	border-bottom: #ff0000 1px solid;
	font-family: verdana,arial,sans serif;
	border-type: solid;
}
	.backtotop {
		text-align:right;
	}
.tablink
{
	border-right: #990000 1px solid;
	padding-right: 1em;
	border-top: #990000 1px solid;
	display: inline;
	padding-left: 1em;
	font-weight: bold;
	border-left: #990000 1px solid;
	margin-right: 0.5em;
	border-bottom: #990000 1px solid;
	text-decoration: none;
}
.backtotop {
	display:none; /*mandatory*/
}
.tabTD
{
	background-color: #ff0000;
}
/*END TAB styles*/
/*******************************************************************
*****			END Report Distro,DCSS Styles					****	
*******************************************************************/

/******************************************************************
****			BEGIN DM, RD, & ML Calendar Styles					***	
******************************************************************/

div.note
{
	padding: 12px 0px 12px 0px;
}
/*classes*/
.box
{
	border: 1pt solid #990000;
	width: 120px;
	text-align: center;
	color: Red;
	font-size: 10pt;
	font-weight: bold;
	background-color: #440000;
}
.idesc
{
	font-size: 10pt;
	font-weight: bold;
}
.ivalue
{
	font-size: 10pt;
}
.pageUse
{
	color: red;
	font: 14pt;
	text-align: right;
}
/*month calendar classes*/
table.calendar
{
	width: 100%;
	border-collapse: collapse;
}
td.mheader
{
	background-color: #990000;
	font-size: 12pt;
	border: none;
}
td.dheader
{
	background-color: Red;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	width: 14%;
}
tr.day
{
	text-align: center;
	vertical-align: top;
}
td.dm
{
	background-color: #990000;
	font: 8pt;
	padding: 0px 0px 0px 10px;
}
a.d
{
	cursor: pointer;
	width: 40%;
	font-size: 10pt;
	font-weight: bold;
}
a.n
{
	font-size: 8pt;	
	cursor: pointer;
	display: block;
}
.loading
{
	position:absolute;
	top: 100px;
	left: 100px;
	padding: 10px 10px 10px 10px;
	background-color: #990000;
	font: 14pt;
	text-align: center;
	visibility: hidden;
}

/******************************************************************
****			END DM, RD, & ML Calendar Styles					***	
******************************************************************/

/******************************************************************
****			BEGIN Store to Store Transfer Styles					***	
******************************************************************/

.sHeader
{
	background-color: #330000;
}

.sHeaderLogin
{
	background-color: #440000;
	border-color: #990000;
	border-style: solid;
	border-width: 1px;
	color: #ff0000;
	font-size: x-small;
	font-weight: normal;
}

.sHeaderLogin TD
{
	background-color: #440000;
	border-color: #990000;
	border-style: solid;
	border-width: 1px;
	color: #ff0000;
	font-size: x-small;
	font-weight: normal;
}

.sHeaderLogin SPAN
{
	background-color: #440000;
	color: #ff0000;
	font-size: x-small;
	font-weight: normal;
}

.sHeaderLogin A
{
	background-color: #440000;
	color: #ff0000;
	font-size: x-small;
	font-weight: normal;
}

.sHeaderLogin A:hover
{
	color: #ff0000;
}

.sHeaderLogin A:visited
{
	color: #ff0000;
}

.sHeaderTitle
{
	color: #ff0000;
	font-family: Arial;
	font-size: large;
	font-weight: bold;
}

.sHeaderStoreNumber
{
	color: #ff0000;
	font-family: Arial;
	font-size: x-small;
	font-weight: bold;
}

.sHeaderLinkbuttonTable 
{
	border-color: #990000;
	border-style: solid;
	border-width: 1px;
	background-color: #440000;
}

.sHeaderLinkbuttonTable TD
{
	border-color: #990000;
	border-style: solid;
	border-width: 1px;
}

A.sHeaderLinkbutton 
{
	font-weight: bold;
	font-size: x-small;
	color: #ffffff;
	font-family: Arial;
	text-decoration: none;
}

A.sHeaderLinkbutton:hover
{}
A.sHeaderLinkbutton:visited
{}

.sHeaderLinkbuttonHighlight
{
	background-color: #990000;
}

.sFooter
{
	border-color: #990000;
	border-style: solid;
	border-width: 1px;
	background-color: #440000;
	font-size: xx-small;
	font-family: Arial;
	color: #ff0000;
}

A.sInfo 
{
	color: #ffffff
}

A.sInfo:hover
{}

A.sInfo:visited
{}

.sInfo
{
	background-color: #000000;
	color: #ffffff;
	font-family: Arial;
	font-size: x-small;
	font-weight: bold;
}

HR.sInfo 
{
	color: #990000;
	font-size: 2px;
	height: 2px;
}

SPAN.sInfo 
{
	font-family: Arial;
	color: #ffffff;
	font-size: x-small;
}

.sInfoTable
{
	border-color: #990000;
	border-style: solid;
	border-width: 2px;
}

.sInfoDataGrid
{
	scrollbar-base-color: #440000;
	scrollbar-arrow-color: #FFFFFF;
	scrollbar-highlight-color: #990000;
	font-family: Arial;
	font-size: x-small;
	color: #ffffff;
	background-color: #111111;	
	border-style: none;
}

.sInfoDataGrid A 
{
	font-family: Arial;
	font-size: x-small;
	color: #ffffff;
	font-weight: normal;
}

.sInfoDataGrid A:hover
{
	color: #ffffff;
}

.sInfoDataGrid A:visited
{
	color: #ffffff;
}

.sInfoDataGrid SPAN 
{
	font-family: Arial;
	font-size: x-small;
	color: #ffffff;
	font-weight: normal;
}

.sInfoDataGrid TD
{
	border-style: none;
}

.sInfoDataGridAlternatingItem
{
	background-color: #333333;
}

.sInfoDataGridHeader
{
	font-weight: bold;
	color: #ffffff;
	background-color: #440000;
}

A.sInfoDataGridHeader:hover
{}
A.sInfoDataGridHeader:visited
{}

.sInfoTab
{
	border-bottom: solid 1px #990000;
	border-left: solid 1px #990000;
	border-right: solid 1px #990000;
	background-color: #440000;
	color: #999999;
	cursor: default;
	font-family: Arial;
	font-size: x-small;
	font-weight: bold;
}

.sInfoTabMouseOver
{
	border-bottom: solid 1px #990000;
	border-left: solid 1px #990000;
	border-right: solid 1px #990000;
	background-color: #990000;
	color: #ffffff;
	cursor: hand;
	font-family: Arial;
	font-size: x-small;
	font-weight: bold;
}

.sDialog
{
	background-color: #000000;
	border-color: #990000;
	border-style: solid;
	border-width: 1px;
}

.sDialog SPAN
{
	font-family: Arial;
	color: #ffffff;
	font-weight: bold;
	font-size: medium;
}

.sDialogTable
{
	border-color: #990000;
	border-style: solid;
	border-width: 3px;
}

.sDialogHeader
{
	background-color: #440000;
	border-color: #990000;
	border-style: solid;
	border-width: 1px;
}

.sDialogHeader SPAN
{
	background-color: #440000;
	font-family: Arial;
	color: #ffffff;
	font-weight: bold;
	font-size: medium;
}

.sDialogButton
{
	font-family: Arial;
	color: #ffffff;
	font-weight: bold;
	border-color: #990000;
	background-color: #440000;
}

.sBody
{
	font-family: Arial;
	color: #ffffff;
	border-color: #990000;
}

.sBodyHighlight
{
	color: #990000;
}

.sBodyNonHighlight
{
	color: #440000;
}

.sButton
{
	font-family: Arial;
	color: #ffffff;
	font-weight: bold;
	border-color: #990000;
	border-style: solid;
	border-width: 1px;
	background-color: #440000;
}

.sDatagridTable
{
	border-color: #990000;
	border-style: solid;
	border-width: 1px;
}

.sDatagrid
{
	scrollbar-base-color: #440000;
	scrollbar-arrow-color: #FFFFFF;
	scrollbar-highlight-color: #990000;
	font-family: Arial;
	font-size: x-small;
	color: #ffffff;
	background-color: #111111;	
	border-style: none;
}

.sDatagrid A 
{
	font-family: Arial;
	font-size: x-small;
	color: #ffffff;
	font-weight: normal;
}

.sDatagrid A:hover
{
	color: #ffffff;
}

.sDatagrid A:visited
{
	color: #ffffff;
}

.sDatagrid SPAN 
{
	font-family: Arial;
	font-size: x-small;
	color: #ffffff;
	font-weight: normal;
}

.sDatagrid TD
{
	border-width: 0px;
}

.sDataGridAlternatingItem
{
	background-color: #333333;
}

.sDataGridAlternatingItem SPAN
{
	background-color: #333333;
}

.sDataGridAlternatingItem A
{
	background-color: #333333;
}

.sDataGridHeader
{
	font-weight: bold;
	color: #ffffff;
	background-color: #440000;
}

.sDataGridHeader A
{
	font-family: Arial;
	font-size: x-small;
	color: #ffffff;
}

.sDataGridHeader A:hover
{
	color: #ffffff;
}

.sDataGridHeader A:visited
{
	color: #ffffff;
}

.sListbox
{
	font-weight: bold;
	font-family: Arial;
	font-size: X-Small; 
	color: #ffffff;
	background-color: #000000;
}

.sRadiobuttonList
{
    font-weight: bold;
	font-family: Arial;
	font-size: Small; 
	color: ffffff;
}

SPAN.sRadiobuttonList
{
    font-weight: bold;
	font-family: Arial;
	font-size: Small; 
	color: ffffff;
}

.sNewTransTitle {
	font-family: arial;
	color: #ff0000;
	font-size: medium;
	font-weight: bold;
}

.sNewTransRadio {
	color: #ff0000;
	font-family: arial;
	font-size: small
}

FONT.sInfoTab {
	background-color: #990000;
	color: #999999;
	font-family: Arial;
	font-size: x-small;
	font-weight: bold;
	cursor: hand;
}

SPAN.sEmpLogOff {
	font-family: arial;
	font-size: medium;
	color: #ff0000;
}

.sTableHighlight {
	background-color: #990000;
}

.sNewTransFormTitle {
	color: #ffffff;
	font-family: arial;
	font-weight: bold;
	font-size: small;
}
SPAN.sPrintTrans {
	font-family: arial;
	color: #ffffff;
	font-size: small;
}

.sHR
{
	color: #990000;
	font-size: 2px;
	height: 2px;
}

.sScanLabelTitle {
	color: #990000; 
	font-weight: bold;
	font-family: arial;
}

.sScanLabel {
	color: #990000; 
	font-weight: bold; 
	font-family: arial;
	font-size: large;
}
.sSelectShip {
	font-family: arial; 
	font-weight: bold;
	color: #990000; 
	font-size: small;
}
.sSelectShipDarkBG {
	background-color: #440000;
}
.sSelectShipText {
	font-family: arial;
	color: #ffffff;
}

SPAN.sScanItemBlackLabel {
	font-weight: bold;
	font-size: X-Small;
	font-family: arial; 
	color: #ffffff;
}

.sTransferBoxTextBox {
	border-style: Solid;
	border-Width: 2;
	border-color: #990000;
}

.STransferHeaderTextBox {
	border-color: #990000;
	Border-style: solid;
	background-color: #000000;
	SCROLLBAR-HIGHLIGHT-COLOR: #990000; 
 	SCROLLBAR-ARROW-COLOR: #ffffff; 
	SCROLLBAR-BASE-COLOR: #440000;
	color: #ffffff;
}

.sTransferHeaderDiv {
	BORDER: solid 1px #990000; 
	SCROLLBAR-HIGHLIGHT-COLOR: #990000; 
 	SCROLLBAR-ARROW-COLOR: #ffffff; 
	SCROLLBAR-BASE-COLOR: #440000;
}
.sSelectShipDarkBGText {
    background-color: #990000;
    font-family: Arial;
    font-size: x-small;
    font-weight: bold;
}

.sScanItemPinkLabel {
	font-family: Arial;
    font-size: x-small;
    font-weight: bold;
	color: #990000;
}
.sTransferHeaderHighlight {
	font-family: Arial;
	font-size:X-Small;
	font-weight:bold;
	color: Yellow;
}
SELECT.Plain {
	COLOR: #000000;
	font-family: Arial;
	font-size: x-small;
	font-weight: normal;
}
SPAN.Plain {
	COLOR: #ffffff;
	font-family: Arial;
	font-size: x-small;
	font-weight: normal;
}
.sBoxIncludes {
	COLOR: #ffffff;
	font-family: Arial;
	font-size: x-small;
	font-weight: normal;
}
.sNormalBig {
	font-family: Arial;
	color: #ffffff;
}
.sScanItemDarkBG {
	background-color: #440000;
	COLOR: #000000;
}
sScanItemDarkBG SPAN {
	background-color: #440000;
	COLOR: #000000;
	font-family: Arial;
	font-size: x-small;
	font-weight: normal;
}
.sScanItemLightBG {
	background-color: #990000;
	COLOR: yellow;
}
.sScanItemLightBG SPAN{
	background-color: #990000;
	COLOR: yellow;
	font-family: Arial;
	font-size: x-small;
	font-weight: bold;
}
/******************************************************************
****			END Store to Store Transfer Styles					***	
******************************************************************/


/******************************************************************
****			BEGIN Human Resources Styles					***	
******************************************************************/

A.Link:visited { FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: none }
A.Link:hover { FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #ffcc00; FONT-STYLE: normal; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: none }
A.Link:active { FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: none }
A.Link:link { FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Verdana, Helvetica, sans-serif; TEXT-DECORATION: none }

A.LinkTo:visited { FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none }
A.LinkTo:hover { FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffcc00; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none }
A.LinkTo:active { FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none }
A.LinkTo:link { FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none }

.ArticleBody { FONT-WEIGHT: 200; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none }
.ArticleTitle { FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none }
.Link { FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none }
.LinkRed { FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none }

.HRFooter { FONT-SIZE: 12px; color: #000000; background-color: #ff0000 }

/******************************************************************
****			END Human Resources Styles					***	
******************************************************************/
