A.Login{float:left}
A.Login{}
A.Portal{background-color:#246178;color:#fff;font-size:xx-small;font-weight:700;text-decoration:none}
A.Portal:hover{color:#fff;text-decoration:underline}
A.Portal:visited{color:#fff}
A.Portal_Everyone{background-color:#696969;color:#fff;font-size:xx-small;font-weight:700;text-decoration:none}
A.Portal_Everyone:hover{color:#fff;text-decoration:underline}
A.Portal_Everyone:visited{color:#fff}
BODY{}
BODY.Header{}
HR{color:#900;font-size:2px;height:2px}
INPUT.B1,A.HotTopic{background:#000;border:1px solid #603;border-radius:4px;color:#fff;padding:3px 15px;text-decoration:none;font:bold 11px Tahoma, Geneva, sans-serif;cursor:pointer}
.Message{color:#d60c8c;font-family:Arial;font-size:small;font-weight:700}
.Portal{font-family:Arial;font-size:xx-small}
.PORTAL_Everyone{background-color:#696969;font-size:XX-Small;font-weight:700}
.HRAdmin{background-color:#400;border-color:#900}
.BC111111{background-color:#111;font-family:Arial;font-size:x-small;font-weight:400}
.BC111111Sm{background-color:#111;font-family:Arial;font-size:xx-small;font-weight:400}
.BC333333{background-color:#606060;font-family:Arial;font-size:x-small;font-weight:400}
.BC333333Sm{background-color:#606060;font-family:Arial;font-size:xx-small;font-weight:400}
.BlackBack{background-color:#000}
.SelectedRow{background-color:red}
.DATAGRID{background-color:#400;border-color:#900;border-style:solid;border-width:2px;color:#fff;font-family:Arial;font-size:x-small;font-weight:700}
.Datagrid td{border-color:#900;border-width:1px}
.Datagrid a:link{font-size:x-small}
.Datagrid a:visited{font-size:x-small}
.Datagrid a:hover{font-size:x-small}
.Datagrid Span{font-size:x-small}
.Datagrid a:link{font-size:x-small}
.Datagrid a:visited{font-size:x-small}
.Datagrid a:hover{font-size:x-small}
.Datagrid Span{font-size:x-small}
.DatagridSm{background-color:#400;border-color:#900;border-style:solid;border-width:2px;color:#fff;font-family:Arial;font-size:xx-small;font-weight:700}
.DatagridSm td{border-color:#900;border-width:1px}
.DatagridSm a:link{color:#fff;font-size:xx-small}
.DatagridSm a:visited{color:#fff;font-size:xx-small}
.DatagridSm a:hover{color:#fff;font-size:xx-small}
.DatagridSm Span{font-size:xx-small}
.DATAGRID_AlternatingItem{background-color:#CCC;border-style:solid;border-width:2px}
.DATAGRID_Header{background-color:#400;border-color:#900;border-style:solid;border-width:2px;color:#fff;font-size:x-small;font-weight:700}
.DATAGRID_Header a:link{font-size:x-small}
.DATAGRID_Header a:visited{font-size:x-small}
.DATAGRID_Header a:hover{font-size:x-small}
.DATAGRID_Header Span{font-size:x-small}
.DATAGRID_HeaderSm{background-color:#400;border-color:#900;border-style:solid;border-width:2px;color:#fff;font-size:xx-small;font-weight:700}
.DATAGRID_HeaderSm a:link{font-size:xx-small}
.DATAGRID_HeaderSm a:visited{font-size:xx-small}
.DATAGRID_HeaderSm a:hover{font-size:xx-small}
.DATAGRID_HeaderSm Span{font-size:xx-small}
.Header_Bottom{}
.Header_Frame{height:51px}
.Header_Store{}
.Header_Table{}
.Header_Title{}
.hdr_sec{left:-75px;overflow:hidden;position:relative;top:34px !important;z-index:1000;float:left}
.hdr_sec span{display:inline;font:normal 10px Arial;color:#fff}
.Normal{color:#000}
.XXSmall{color:#fff;font-family:Arial;font-size:xx-small;font-weight:700}
.Plain{color:#fff;font-family:Arial;font-size:x-small;font-weight:400}
.Portal_Blue{background-color:#246178;color:#fff;font-family:Arial;font-size:xx-small}
.Portal_Head{font-family:Arial,Verdana,Helvetica,sans-serif;font-size:20px;font-weight:400;color:#659bad}
.Red{border-style:None;color:Red;font-family:Arial;font-size:X-Small;font-weight:700;text-decoration:none}
.Red:hover{color:Red;text-decoration:none}
.Red:visited{color:Red;text-decoration:none}
.RedUL{border-style:None;color:Red;font-family:Arial;font-size:X-Small;font-weight:700;text-decoration:underline}
.RedUL:hover{color:Red;text-decoration:underline}
.RedUL:visited{color:Red;text-decoration:underline}
.Right{text-align:right}
.Scrollbar{background-color:#000;scrollbar-arrow-color:#FFF;scrollbar-base-color:#400;scrollbar-highlight-color:#900}
.Title{color:#fff;font-family:Arial;font-size:small;font-weight:700}
.WeekDays{background-color:#246178;color:#fff;font-family:Arial;font-size:xx-small;font-weight:700;text-align:center}
.cellValueWhite{font-size:8pt;color:#fff;font-family:Arial;text-align:left}
.errStyle{font-size:8pt;color:red;font-family:Arial;font-weight:700;text-align:left}
.cellValueLeft{font-size:8pt;color:#000;font-family:Arial;text-align:left}
.reqStyle{font-size:10pt;color:red;font-family:Arial;text-align:center}
.cellValueCaption{font-size:8pt;font-family:Arial;font-weight:700}
.pageCaption{font-size:12pt;font-family:Arial;text-align:center;font-weight:700}
.white79{font-family:verdana,arial,geneva,sans-serif;font-size:7.9pt;color:#FFF}
.btnSmall{background-color:#400;color:#fff;font-weight:700;border-style:solid;border-color:#900;font-size:8pt;cursor:hand;font-family:Arial,'Times New Roman'}
.GridStyle{border-right:#900 2px solid;border-top:#900 2px solid;border-left:#900 2px solid;border-bottom:#900 2px solid}
.GridHeaderStyle{font-weight:700;font-size:xx-small;vertical-align:middle;font-family:Arial;background-color:#400;text-align:left}
.GridItemStyle{font-size:xx-small;vertical-align:middle;font-family:Arial;background-color:#000;text-align:left;border-right:#900 2px solid;border-top:#900 2px solid;border-left:#900 2px solid;border-bottom:#900 2px solid}
.GridAlternateStyle{font-size:xx-small;vertical-align:middle;font-family:Arial;background-color:gray;text-align:left;border-right:#900 2px solid;border-top:#900 2px solid;border-left:#900 2px solid;border-bottom:#900 2px solid}
.pagerStyle{font-size:8pt;color:#fff;font-family:Arial;text-align:center}
.contentTextSmall{font-size:9px;color:#659bad;font-family:Verdana,Arial,Helvetica}
.footNote{font-weight:700;font-size:8pt;color:#ff8c00;font-family:Arial,Verdana,Helvetica}
.RedBG{background-color:#900}
.TableBorder{border-right:#900 1px solid;border-top:#900 1px solid;border-left:#900 1px solid;border-bottom:#900 1px solid}
.CalStyle{border-right:#900 1px solid;border-top:#900 1px solid;border-left:#900 1px solid;border-bottom:#900 1px solid}
.CalTitleStyle{font-weight:700;font-size:10px;color:#fff;font-family:Arial,Verdana,Helvetica;height:20px;background-color:#900}
.CalDayHeaderStyle{border-right:1px solid;border-top:1px solid;font-size:10px;border-left:1px solid;color:#fff;border-bottom:1px solid;height:20px}
.CalDayStyle{border-right:#900 1px solid;border-top:#900 1px solid;font-size:9px;border-left:#900 1px solid;color:#fff;border-bottom:#900 1px solid;height:30px;text-align:left}
.tab{border-right:red 1px solid;border-top:red 1px solid;border-left:red 1px solid;width:100%;color:#333;border-bottom:red 1px solid;font-family:verdana,arial,sans serif;border-type:solid}
.backtotop{text-align:right}
.tablink{border-right:#900 1px solid;padding-right:1em;border-top:#900 1px solid;display:inline;padding-left:1em;font-weight:700;border-left:#900 1px solid;margin-right:.5em;border-bottom:#900 1px solid;text-decoration:none}
.backtotop{display:none}
.tabTD{background-color:red}
div.note{padding:12px 0}
.box{border:1pt solid #900;width:120px;text-align:center;color:Red;font-size:10pt;font-weight:700;background-color:#400}
.idesc{font-size:10pt;font-weight:700}
.ivalue{font-size:10pt}
.pageUse{color:red;font:14pt;text-align:right}
table.calendar{width:100%;border-collapse:collapse}
td.mheader{background-color:#900;font-size:12pt;border:none}
td.dheader{background-color:Red;font-size:10pt;font-weight:700;text-align:center;width:14%}
tr.day{text-align:center;vertical-align:top}
td.dm{background-color:#900;font:8pt;padding:0 0 0 10px}
a.d{cursor:pointer;width:40%;font-size:10pt;font-weight:700}
a.n{font-size:8pt;cursor:pointer;display:block}
.loading{position:absolute;top:100px;left:100px;padding:10px;background-color:#900;font:14pt;text-align:center;visibility:hidden}
.sHeader{background-color:#300}
.sHeaderLogin{background-color:#400;border-color:#900;border-style:solid;border-width:1px;color:red;font-size:x-small;font-weight:400}
.sHeaderLogin TD{background-color:#400;border-color:#900;border-style:solid;border-width:1px;color:red;font-size:x-small;font-weight:400}
.sHeaderLogin SPAN{background-color:#400;color:red;font-size:x-small;font-weight:400}
.sHeaderLogin A{background-color:#400;color:red;font-size:x-small;font-weight:400}
.sHeaderLogin A:hover{color:red}
.sHeaderLogin A:visited{color:red}
.sHeaderTitle{color:red;font-family:Arial;font-size:large;font-weight:700}
.sHeaderStoreNumber{color:red;font-family:Arial;font-size:x-small;font-weight:700}
.sHeaderLinkbuttonTable{border-color:#900;border-style:solid;border-width:1px;background-color:#400}
.sHeaderLinkbuttonTable TD{border-color:#900;border-style:solid;border-width:1px}
A.sHeaderLinkbutton{font-weight:700;font-size:x-small;color:#fff;font-family:Arial;text-decoration:none}
.sHeaderLinkbuttonHighlight{background-color:#900}
.sFooter{border-color:#900;border-style:solid;border-width:1px;background-color:#400;font-size:xx-small;font-family:Arial;color:red}
A.sInfo{color:#fff}
.sInfo{background-color:#000;color:#fff;font-family:Arial;font-size:x-small;font-weight:700}
HR.sInfo{color:#900;font-size:2px;height:2px}
SPAN.sInfo{font-family:Arial;color:#fff;font-size:x-small}
.sInfoTable{border-color:#900;border-style:solid;border-width:2px}
.sInfoDataGrid{scrollbar-base-color:#400;scrollbar-arrow-color:#FFF;scrollbar-highlight-color:#900;font-family:Arial;font-size:x-small;color:#fff;background-color:#111;border-style:none}
.sInfoDataGrid A{font-family:Arial;font-size:x-small;color:#fff;font-weight:400}
.sInfoDataGrid A:hover{color:#fff}
.sInfoDataGrid A:visited{color:#fff}
.sInfoDataGrid SPAN{font-family:Arial;font-size:x-small;color:#fff;font-weight:400}
.sInfoDataGrid TD{border-style:none}
.sInfoDataGridAlternatingItem{background-color:#333}
.sInfoDataGridHeader{font-weight:700;color:#fff;background-color:#400}
.sInfoTab{border-bottom:solid 1px #900;border-left:solid 1px #900;border-right:solid 1px #900;background-color:#400;color:#999;cursor:default;font-family:Arial;font-size:x-small;font-weight:700}
.sInfoTabMouseOver{border-bottom:solid 1px #900;border-left:solid 1px #900;border-right:solid 1px #900;background-color:#900;color:#fff;cursor:hand;font-family:Arial;font-size:x-small;font-weight:700}
.sDialog{background-color:#000;border-color:#900;border-style:solid;border-width:1px}
.sDialog SPAN{font-family:Arial;color:#fff;font-weight:700;font-size:medium}
.sDialogTable{border-color:#900;border-style:solid;border-width:3px}
.sDialogHeader{background-color:#400;border-color:#900;border-style:solid;border-width:1px}
.sDialogHeader SPAN{background-color:#400;font-family:Arial;color:#fff;font-weight:700;font-size:medium}
.sDialogButton{font-family:Arial;color:#fff;font-weight:700;border-color:#900;background-color:#400}
.sBody{font-family:Arial;color:#fff;border-color:#900}
.sBodyHighlight{color:#900}
.sBodyNonHighlight{color:#400}
.sButton{font-family:Arial;color:#fff;font-weight:700;border-color:#900;border-style:solid;border-width:1px;background-color:#400}
.sDatagridTable{border-color:#900;border-style:solid;border-width:1px}
.sDatagrid{scrollbar-base-color:#400;scrollbar-arrow-color:#FFF;scrollbar-highlight-color:#900;font-family:Arial;font-size:x-small;color:#fff;background-color:#111;border-style:none}
.sDatagrid A{font-family:Arial;font-size:x-small;color:#fff;font-weight:400}
.sDatagrid A:hover{color:#fff}
.sDatagrid A:visited{color:#fff}
.sDatagrid SPAN{font-family:Arial;font-size:x-small;color:#fff;font-weight:400}
.sDatagrid TD{border-width:0}
.sDataGridAlternatingItem{background-color:#333}
.sDataGridAlternatingItem SPAN{background-color:#333}
.sDataGridAlternatingItem A{background-color:#333}
.sDataGridHeader{font-weight:700;color:#fff;background-color:#400}
.sDataGridHeader A{font-family:Arial;font-size:x-small;color:#fff}
.sDataGridHeader A:hover{color:#fff}
.sDataGridHeader A:visited{color:#fff}
.sListbox{font-weight:700;font-family:Arial;font-size:X-Small;color:#fff;background-color:#000}
.sRadiobuttonList{font-weight:700;font-family:Arial;font-size:Small;color:ffffff}
SPAN.sRadiobuttonList{font-weight:700;font-family:Arial;font-size:Small;color:ffffff}
.sNewTransTitle{font-family:arial;color:red;font-size:medium;font-weight:700}
.sNewTransRadio{color:red;font-family:arial;font-size:small}
FONT.sInfoTab{background-color:#900;color:#999;font-family:Arial;font-size:x-small;font-weight:700;cursor:hand}
SPAN.sEmpLogOff{font-family:arial;font-size:medium;color:red}
.sTableHighlight{background-color:#900}
.sNewTransFormTitle{color:#fff;font-family:arial;font-weight:700;font-size:small}
SPAN.sPrintTrans{font-family:arial;color:#fff;font-size:small}
.sHR{color:#900;font-size:2px;height:2px}
.sScanLabelTitle{color:#900;font-weight:700;font-family:arial}
.sScanLabel{color:#900;font-weight:700;font-family:arial;font-size:large}
.sSelectShip{font-family:arial;font-weight:700;color:#900;font-size:small}
.sSelectShipDarkBG{background-color:#400}
.sSelectShipText{font-family:arial;color:#fff}
SPAN.sScanItemBlackLabel{font-weight:700;font-size:X-Small;font-family:arial;color:#fff}
.sTransferBoxTextBox{border-style:Solid;border-width:2px;border-color:#900}
.STransferHeaderTextBox{border-color:#900;border-style:solid;background-color:#000;scrollbar-highlight-color:#900;scrollbar-arrow-color:#fff;scrollbar-base-color:#400;color:#fff}
.sTransferHeaderDiv{border:solid 1px #900;scrollbar-highlight-color:#900;scrollbar-arrow-color:#fff;scrollbar-base-color:#400}
.sSelectShipDarkBGText{background-color:#900;font-family:Arial;font-size:x-small;font-weight:700}
.sScanItemPinkLabel{font-family:Arial;font-size:x-small;font-weight:700;color:#900}
.sTransferHeaderHighlight{font-family:Arial;font-size:X-Small;font-weight:700;color:#ff0}
SELECT.Plain{color:#000;font-family:Arial;font-size:x-small;font-weight:400}
SPAN.Plain{color:#fff;font-family:Arial;font-size:x-small;font-weight:400}
.sBoxIncludes{color:#fff;font-family:Arial;font-size:x-small;font-weight:400}
.sNormalBig{font-family:Arial;color:#fff}
.sScanItemDarkBG{background-color:#400;color:#000}
sScanItemDarkBG SPAN{background-color:#400;color:#000;font-family:Arial;font-size:x-small;font-weight:400}
.sScanItemLightBG{background-color:#900;color:#ff0}
.sScanItemLightBG SPAN{background-color:#900;color:#ff0;font-family:Arial;font-size:x-small;font-weight:700}
A.Link:visited{font-weight:700;font-size:9px;color:#fff;font-style:normal;font-family:Verdana,Helvetica,sans-serif;text-decoration:none}
A.Link:hover{font-weight:700;font-size:9px;color:#fc0;font-style:normal;font-family:Verdana,Helvetica,sans-serif;text-decoration:none}
A.Link:active{font-weight:700;font-size:9px;color:#fff;font-style:normal;font-family:Verdana,Helvetica,sans-serif;text-decoration:none}
A.Link:link{font-weight:700;font-size:9px;color:#fff;font-style:normal;font-family:Verdana,Helvetica,sans-serif;text-decoration:none}
A.LinkTo:visited{font-weight:700;font-size:12px;color:red;font-style:normal;font-family:Arial,Helvetica,sans-serif;text-decoration:none}
A.LinkTo:hover{font-weight:700;font-size:12px;color:#fc0;font-style:normal;font-family:Arial,Helvetica,sans-serif;text-decoration:none}
A.LinkTo:active{font-weight:700;font-size:12px;color:red;font-style:normal;font-family:Arial,Helvetica,sans-serif;text-decoration:none}
A.LinkTo:link{font-weight:700;font-size:12px;color:red;font-style:normal;font-family:Arial,Helvetica,sans-serif;text-decoration:none}
.ArticleBody{font-weight:200;font-size:8pt;color:#fff;font-family:Verdana,Arial,Helvetica,sans-serif;text-decoration:none}
.ArticleTitle{font-weight:700;font-size:12px;color:#fff;font-style:normal;font-family:Arial,Helvetica,sans-serif;text-decoration:none}
.Link{font-weight:700;font-size:12px;color:#fff;font-style:normal;font-family:Verdana,Arial,Helvetica,sans-serif;text-decoration:none}
.LinkRed{font-weight:700;font-size:12px;color:red;font-style:normal;font-family:Verdana,Arial,Helvetica,sans-serif;text-decoration:none}
.HRFooter{font-size:12px;color:#000;background-color:red}