﻿A.Login{float:left}
A.Login{font-weight:400;margin-top:2px}
A.Login:before{content:"» "}
A.Portal{color:#fff;font-size:xx-small;font-weight:700;text-decoration:none}
A.Portal:hover{color:#fff;text-decoration:underline}
A.Portal:visited{color:#fff}
A.Portal_Everyone{background-color:#696969;color:#fff;font-size:xx-small;font-weight:700;text-decoration:none}
A.Portal_Everyone:hover{color:#fff;text-decoration:underline}
A.Portal_Everyone:visited{color:#fff}
HR{color:#ff9ace;font-size:10px;height:10px}
INPUT.B1{color:#fff;background-color:#d9534f;border-color:#d43f3a}
.Message{color:#d60c8c;font-family:Arial;font-size:small;font-weight:700}
.Portal{font-family:Arial;font-size:xx-small}
.PORTAL_Everyone{background-color:#696969;font-size:XX-Small;font-weight:700}
.HRAdmin{background-color:#fdd9ec;border-color:#d60c8c}
.BC111111{background-color:#FFF;font-family:Arial;font-size:x-small;font-weight:400}
.BC111111Sm{background-color:#FFF;font-family:Arial;font-size:xx-small;font-weight:400}
.BC333333{background-color:#CCC;font-family:Arial;font-size:x-small;font-weight:400}
.BC333333Sm{background-color:#CCC;font-family:Arial;font-size:xx-small;font-weight:400}
.BlackBack{background-color:#fff}
.SelectedRow{background-color:red}
.DATAGRID{background-color:#EEEEEE;;border-color:#d60c8c;border-style:solid;border-width:2px;color:#000;font-family:Arial;font-size:x-small;font-weight:700}
.Datagrid td{border-color:#ff9ace;border-width:1px}
.Datagrid a:link{font-size:x-small}
.Datagrid a:visited{font-size:x-small}
.Datagrid a:hover{font-size:x-small}
.Datagrid Span{font-size:x-small}
.DatagridSm{background-color:#fdd9ec;border-color:#d60c8c;border-style:solid;border-width:2px;color:#000;font-family:Arial;font-size:xx-small;font-weight:700}
.DatagridSm td{border-color:#ff9ace;border-width:1px}
.DatagridSm a:link{color:#000;font-size:xx-small}
.DatagridSm a:visited{color:#000;font-size:xx-small}
.DatagridSm a:hover{color:#000;font-size:xx-small}
.DatagridSm Span{color:#000;font-size:xx-small}
.DATAGRID_AlternatingItem{background-color:gray;border-style:solid;border-width:2px}
.DATAGRID_Header{background-color:#fdd9ec;border-color:#d60c8c;border-style:solid;border-width:2px;color:#d60c8c;font-size:x-small;font-weight:700}
.DATAGRID_Header a:link{font-size:x-small}
.DATAGRID_Header a:visited{font-size:x-small}
.DATAGRID_Header a:hover{font-size:x-small}
.DATAGRID_Header Span{font-size:x-small}
.DATAGRID_HeaderSm{background-color:#eee;border-color:#ccc;border-style:solid;border-width:1px;color:#000;font-size:12px;font-weight:700}
.DATAGRID_HeaderSm a:link{color:#000;font-size:xx-small}
.DATAGRID_HeaderSm a:visited{color:#000;font-size:xx-small}
.DATAGRID_HeaderSm a:hover{color:#000;font-size:xx-small}
.DATAGRID_HeaderSm Span{color:#000;font-size:xx-small}
.hdr_sec{left:-77px;overflow:hidden;position:relative;top:34px !important;z-index:1000;float:left;top:29px\9 !important;}
.hdr_sec span{display:inline;font:normal 10px Arial;color:#666}
.Plain{color:#000;font-family:Arial;font-size:x-small;font-weight:400}
.Portal_Blue{background-color:#246178;color:#fff;font-family:Arial;font-size:xx-small}
.Portal_Head{font-family:Arial,Verdana,Helvetica,sans-serif;font-size:20px;font-weight:400;color:#659bad}
.Red{border-style:None;color:#c12e2a;font-family:Arial;font-size:X-Small;font-weight:700;text-decoration:none}
.Red:hover{color:#c12e2a;text-decoration:none}
.Red:visited{color:#c12e2a;text-decoration:none}
.RedUL{border-style:None;color:#D60C8C;font-family:Arial;font-size:X-Small;font-weight:700;text-decoration:underline}
.RedUL:hover{color:#D60C8C;text-decoration:underline}
.RedUL:visited{color:#D60C8C;text-decoration:underline}
.Right{text-align:right}
.Scrollbar{background-color:#fff;scrollbar-arrow-color:#FFF;scrollbar-base-color:#400;scrollbar-highlight-color:#D60C8C}
.Title{color:#000;font-family:Arial;font-size:small;font-weight:700}
.WeekDays{background-color:#246178;color:#fff;font-family:Arial;font-size:xx-small;font-weight:700;text-align:center}
.RedBG{background-color:#fae5f0}
.TableBorder{border-right:#d60c8c 1px solid;border-top:#d60c8c 1px solid;border-left:#d60c8c 1px solid;border-bottom:#d60c8c 1px solid}
.cellValueWhite{font-size:8pt;font-family:Arial;text-align:left}
.errStyle{font-size:8pt;color:red;font-family:Arial;font-weight:700;text-align:left}
.cellValueLeft{font-size:8pt;color:#000;font-family:Arial;text-align:left}
.reqStyle{font-size:10pt;color:red;font-family:Arial;text-align:center}
.cellValueCaption{font-size:8pt;font-family:Arial;color:#666;font-weight:700}
.pageCaption{font-size:12pt;font-family:Arial;text-align:center;font-weight:700}
.white79{font-family:verdana,arial,geneva,sans-serif;font-size:7.9pt;color:#FFF}
.btnSmall{background-color:#fff;color:#000;font-weight:700;border-style:solid;border-color:#000;font-size:8pt;cursor:hand;font-family:Arial,'Times New Roman'}
.GridStyle{background-color:#fdd9ec;border-color:#d60c8c;border-style:solid;border-width:2px;color:#000;font-family:Arial;font-size:x-small;font-weight:700}
.GridHeaderStyle{background-color:#fdd9ec;color:#d60c8c;font-size:xx-small;font-weight:700;text-align:left;border-right:#d60c8c 2px solid;border-top:#d60c8c 2px solid;border-left:#d60c8c 2px solid;border-bottom:#d60c8c 2px solid}
.GridItemStyle{font-size:xx-small;vertical-align:middle;color:#000;font-family:Arial;background-color:#fff;text-align:left;border-right:#d60c8c 2px solid;border-top:#d60c8c 2px solid;border-left:#d60c8c 2px solid;border-bottom:#d60c8c 2px solid}
.GridAlternateStyle{font-size:xx-small;vertical-align:middle;color:#000;font-family:Arial;background-color:#CCC;text-align:left;border-right:#d60c8c 2px solid;border-top:#d60c8c 2px solid;border-left:#d60c8c 2px solid;border-bottom:#d60c8c 2px solid}
.pagerStyle{font-size:8pt;color:#000;font-family:Arial;text-align:center}
.contentTextSmall{font-size:9px;color:#659bad;font-family:Verdana,Arial,Helvetica}
.footNote{font-weight:700;font-size:11px;color:#000;font-family:Arial,Helvetica,Verdana}

.callwraper{background:#eee !important;border-radius:5px;padding:10px}
.CalStyle{border:none !important}
.CalTitleStyle{background:#fff !important;border-radius:4px;padding:7px;border-bottom:solid 1px #ddd;border-top:solid 1px #ddd;font-weight:700}
.CalDayHeaderStyle{}
.CalDayStyle{height:30px;text-align:center;}
.CalStyle tbody tr th{border-bottom:solid 1px #666;padding-top:10px;text-align:center}
.CalStyle tbody tr td.CalDayStyle,.shpRec,.shpPending{color:#fff;height:60px;border-right:solid 1px #fff;border-bottom:solid 1px #fff;background:#666;background:linear-gradient(to bottom, #746f6f 0px, #666 100%);font:normal 12px Arial}
.CalStyle tbody tr td.CalDayStyle a{color:#fff !important;font:normal 11px Tahoma, Geneva, sans-serif !important}
.shpRec{background:#999;background:linear-gradient(to bottom, #999 0px, #666 100%) !important}
.shpRec a{color:#CCC !important}
.Calhints{font-size:11px;float:left;display:inline-block;margin:0 30px 0 0;padding-left:4px;height:12px}
#dgShipment tbody tr td a{font-size:12px !important}
#dgShipment tbody tr td img{float:left;width:20px}
#dgShipment tbody tr td sup{font-size:11px !important}

.shpPending{background:#4682B4;background:linear-gradient(to bottom, #4682B4 0px, #666 100%) !important}
.shpPending a{color:#0FF;padding:3px}.shpPending a:hover{color:#000;background:#0CF;background:linear-gradient(to bottom, #09F 0px, #0CF 100%);border-radius:6px;text-decoration:none}


.tab{width:100%}
.backtotop{text-align:right}
.tablink{border-right:#FF9ACE 1px solid;padding-right:1em;border-top:#FF9ACE 1px solid;display:inline;padding-left:1em;font-weight:700;border-left:#FF9ACE 1px solid;margin-right:.5em;border-bottom:#FF9ACE 1px solid;text-decoration:none}
.backtotop{display:none}
.tabTD{background-color:#FF9ACE}
div.note{padding:12px 0}
.box{border:1pt solid #900;width:120px;text-align:center;color:red;font-size:10pt;font-weight:700;background-color:#400}
.idesc{font-size:10pt;font-weight:700}
.ivalue{font-size:10pt}
.pageUse{color:red;font:14pt;text-align:right}
table.calendar{width:100%;border-collapse:collapse;border-color:black;}
table.calendar td{border-width:1px}
td.mheader{background-color:#ccc;font-size:12pt}
td.dheader{background-color:#ccc;font-size:10pt;font-weight:700;text-align:center;width:14%}
tr.day{text-align:center;vertical-align:top}
td.dm{background-color:#ccc;font:8pt;padding:0 0 0 10px}
a.d{cursor:pointer;width:40%;font-size:10pt;font-weight:700}
a.n{font-size:8pt;cursor:pointer;display:block}
.loading{position:absolute;top:100px;left:100px;padding:10px;font:14pt;text-align:center;visibility:hidden}
.sHeader{background-color:#f8f8f8;border-color:#e7e7e7}
.sHeaderLogin{border-style:solid;border-width:1px;font-size:x-small;font-weight:400}
.sHeaderLogin TD{border-style:solid;border-width:1px;font-size:x-small;font-weight:400}
.sHeaderLogin SPAN{font-size:x-small;font-weight:400}
.sHeaderLogin A{font-size:x-small;font-weight:400}
.sHeaderLogin A:hover{}
.sHeaderLogin A:visited{}
.sHeaderTitle{font-family:Arial;font-size:large;font-weight:700}
.sHeaderStoreNumber{font-family:Arial;font-size:x-small;font-weight:700}
.sHeaderLinkbuttonTable{border-style:solid;border-width:1px;background-color:#fff}
.sHeaderLinkbuttonTable TD{border-style:solid;border-width:1px}
A.sHeaderLinkbutton{font-weight:700;font-size:x-small;color:#000;font-family:Arial;text-decoration:none}
.sHeaderLinkbuttonHighlight{background-color:#CCCCCC}
.sFooter{border-style:solid;border-width:1px;background-color:#fff;font-size:xx-small;font-family:Arial;color:#000;display:none}
A.sInfo{color:#000}
.sInfo{background-color:#fff;color:#000;font-family:Arial;font-size:x-small;font-weight:700}
HR.sInfo{color:#ff9ACE;font-size:2px;height:2px}
SPAN.sInfo{font-family:Arial;color:#000;font-size:x-small}
.sInfoTable{border-style:solid;border-width:2px}
.sInfoDataGrid{font-family:Arial;font-size:x-small;color:#000;background-color:#fff;border-style:none}
.sInfoDataGrid A{font-family:Arial;font-size:x-small;color:#000;font-weight:400}
.sInfoDataGrid A:hover{color:#000}
.sInfoDataGrid A:visited{color:#000}
.sInfoDataGrid SPAN{font-family:Arial;font-size:x-small;color:#000;font-weight:400}
.sInfoDataGrid TD{border-style:none}
.sInfoDataGridAlternatingItem{background-color:#ccc}
.sInfoDataGridHeader{font-weight:700;background-color:#ccc}
.sInfoTab{border-bottom:solid 1px;border-left:solid 1px;border-right:solid 1px;background-color:#fff;color:#000;cursor:default;font-family:Arial;font-size:x-small;font-weight:700}
.sInfoTabMouseOver{border-bottom:solid 1px #ccc;border-left:solid 1px #ccc;border-right:solid 1px #ccc;background-color:#ccc;color:#000;cursor:hand;font-family:Arial;font-size:x-small;font-weight:700}
.sDialog{background-color:#fff;border-style:solid;border-width:1px}
.sDialog SPAN{font-family:Arial;color:#000;font-weight:700;font-size:medium}
.sDialogTable{border-style:solid;border-width:3px}
.sDialogHeader{border-style:solid;border-width:1px}
.sDialogHeader SPAN{font-family:Arial;color:#000;font-weight:700;font-size:medium}
.sDialogButton{font-family:Arial;color:#000;font-weight:700;}
.sBody{font-family:Arial;color:#000;}
.sBodyHighlight{color:#ff9ace}
.sBodyNonHighlight{color:#fae5f0}
.sButton{font-family:Arial;color:#000;font-weight:700;border-style:solid;border-width:1px;}
.sDatagridTable{border-style:solid;border-width:1px}
.sDatagrid{font-family:Arial;font-size:x-small;color:#000;background-color:#fff;border-style:none}
.sDatagrid A{font-family:Arial;font-size:x-small;color:#000;font-weight:400}
.sDatagrid A:hover{color:#000}
.sDatagrid A:visited{color:#000}
.sDatagrid SPAN{font-family:Arial;font-size:x-small;color:#000;font-weight:400}
.sDatagrid TD{border-width:0}
.sDataGridAlternatingItem{background-color:#ccc}
.sDataGridAlternatingItem SPAN{background-color:#ccc}
.sDataGridAlternatingItem A{background-color:#ccc}
.sDataGridHeader{font-weight:700;background-color:#ccc}
.sDataGridHeader A{font-family:Arial;font-size:x-small;}
.sDataGridHeader A:hover{}
.sDataGridHeader A:visited{}
.sListbox{font-weight:700;font-family:Arial;font-size:X-Small;color:#000;background-color:#fff}
.sRadiobuttonList{font-weight:700;font-family:Arial;font-size:Small;color:#000}
SPAN.sRadiobuttonList{font-weight:700;font-family:Arial;font-size:Small;color:#000}
.sNewTransTitle{font-family:arial;font-size:medium;font-weight:700}
.sNewTransRadio{font-family:arial;font-size:small}
FONT.sInfoTab{background-color:#ff9ace;color:#000;font-family:Arial;font-size:x-small;font-weight:700;cursor:hand}
SPAN.sEmpLogOff{font-family:arial;font-size:medium;}
.sTableHighlight{background-color:#eee}
.sNewTransFormTitle{color:#000;font-family:arial;font-weight:700;font-size:small}
SPAN.sPrintTrans{font-family:arial;color:#000;font-size:small}
.sHR{color:#ff9ace;font-size:2px;height:2px}
.sScanLabelTitle{font-weight:700;font-family:arial}
.sScanLabel{font-weight:700;font-family:arial;font-size:large}
.sSelectShip{font-family:arial;font-weight:700;font-size:small}
.sSelectShipDarkBG{background-color:#ccc}
.sSelectShipText{font-family:arial;color:#000}
SPAN.sScanItemBlackLabel{font-weight:700;font-size:X-Small;font-family:arial;color:#000}
.sTransferBoxTextBox{border-style:Solid;border-width:2px;}
.STransferHeaderTextBox{border-style:solid}
.sTransferHeaderDiv{border:solid 1px;}
.sSelectShipDarkBGText{background-color:#ccc;font-family:Arial;font-size:x-small;font-weight:700}
.sScanItemPinkLabel{font-family:Arial;font-size:x-small;font-weight:700;color:#000000}
.sTransferHeaderHighlight{font-family:Arial;font-size:X-Small;font-weight:bold;}
SELECT.Plain{color:#000;font-family:Arial;font-size:x-small;font-weight:400}
SPAN.Plain{color:#000;font-family:Arial;font-size:x-small;font-weight:400}
.sBoxIncludes{color:#000;font-family:Arial;font-size:x-small;font-weight:400}
.sNormalBig{font-family:Arial;color:#000}
.sScanItemDarkBG{color:#000}
.sScanItemDarkBG SPAN{color:#000;font-family:Arial;font-size:x-small;font-weight:400}
.sScanItemLightBG{color:#000}
.sScanItemLightBG SPAN{color:#000;font-family:Arial;font-size:x-small;font-weight:700}
A.Link:visited{font-weight:700;font-size:9px;color:#000;font-style:normal;font-family:Verdana,Helvetica,sans-serif;text-decoration:none}
A.Link:hover{font-weight:700;font-size:9px;color:#fc0;font-style:normal;font-family:Verdana,Helvetica,sans-serif;text-decoration:none}
A.Link:active{font-weight:700;font-size:9px;color:#000;font-style:normal;font-family:Verdana,Helvetica,sans-serif;text-decoration:none}
A.Link:link{font-weight:700;font-size:9px;color:#000;font-style:normal;font-family:Verdana,Helvetica,sans-serif;text-decoration:none}
A.LinkTo:visited{font-weight:700;font-size:12px;color:#D60C8C;font-style:normal;font-family:Arial,Helvetica,sans-serif;text-decoration:none}
A.LinkTo:hover{font-weight:700;font-size:12px;color:#fc0;font-style:normal;font-family:Arial,Helvetica,sans-serif;text-decoration:none}
A.LinkTo:active{font-weight:700;font-size:12px;color:#D60C8C;font-style:normal;font-family:Arial,Helvetica,sans-serif;text-decoration:none}
A.LinkTo:link{font-weight:700;font-size:12px;color:#D60C8C;font-style:normal;font-family:Arial,Helvetica,sans-serif;text-decoration:none}
.ArticleBody{font-weight:200;font-size:8pt;color:#000;font-family:Verdana,Arial,Helvetica,sans-serif;text-decoration:none}
.ArticleTitle{font-weight:700;font-size:12px;color:#000;font-style:normal;font-family:Arial,Helvetica,sans-serif;text-decoration:none}
.Link{font-weight:700;font-size:12px;color:#000;font-style:normal;font-family:Verdana,Arial,Helvetica,sans-serif;text-decoration:none}
.LinkRed{font-weight:700;font-size:12px;color:#D60C8C;font-style:normal;font-family:Verdana,Arial,Helvetica,sans-serif;text-decoration:none}
.HRFooter{font-size:12px;color:#fff;background-color:#D60C8C}
.HR_Link{color:#000;}
.HR_Link2{color:#000;}
