<%@ Page Language="vb" AutoEventWireup="false" Codebehind="CookieTest.aspx.vb" Inherits="SSTransfer.CookieTest" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>CookieTest</title>
		<meta content="Microsoft Visual Studio.NET 7.0" name="GENERATOR">
		<meta content="Visual Basic 7.0" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
	</HEAD>
	<body class="sBody" MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<div id="RunSStransfer" runat="server">
				<script language="javascript">
					var tt;
					
					tt = window.open('default.aspx','SSTransfer','fullscreen');
					tt.location = 'default.aspx';
				</script>
			</div>
			<table bgcolor="#FFFFFF" height="100%" width="100%" border="0">
				<tr>
					<td valign="center" align="middle">
						<asp:LinkButton id="lbStore5001" Font-Name="arial" ForeColor="#D60C8C" runat="server">Store 5001</asp:LinkButton><br>
						<br>
						<asp:LinkButton id="lbStore5002" Font-Name="arial" ForeColor="#D60C8C" runat="server">Store 5002</asp:LinkButton><br>
						<br>
						<asp:LinkButton id="lbStore5003" Font-Name="arial" ForeColor="#D60C8C" runat="server">Store 5003</asp:LinkButton><br>
						<br>
						<asp:LinkButton id="lbStore5004" Font-Name="arial" ForeColor="#D60C8C" runat="server">Store 5004</asp:LinkButton>
					</td>
				</tr>
			</table>
		</form>
	</body>
</HTML>
