	/* 
		These styles apply to browsers that are not able to support CSS 2
		IE Netscape 4.x and newer ones		
	*/
	body{
		font-family:verdana,arial,sans serif;
		
		background:#000000;
		margin-left:2em;
		margin-right:2em;
		margin-top:2em;
	}
	a {color:#333;}

	.tablink
{
	display: block;
	font-weight: bold;
	
	color: #ccc;
}
	pre{
		/*font-size:1.2em;*/
	}
	.tab
{
	border-right: #ff0000 1px solid;	
	border-top: #ff0000 1px solid;
	border-left: #ff0000 1px solid;
	width: 100%;
	color: #333;	
	border-bottom: #ff0000 1px solid;
	font-family: verdana,arial,sans serif;
	border-type: solid;
}
	.backtotop {
		text-align:right;
	}
