/* 
	These settings only apply to browsers capable of @import (almost anything but
	Netscape 4.x
*/
.tab 
{
	/*
	width:auto;
	border:none;
	
		 It might be nicer to add a display:none here, but that'll rule 
		 out Opera users
	*/
}
.tablink
{
	border-right: #990000 1px solid;
	padding-right: 1em;
	border-top: #990000 1px solid;
	display: inline;
	padding-left: 1em;
	font-weight: bold;
	border-left: #990000 1px solid;
	margin-right: 0.5em;
	border-bottom: #990000 1px solid;
	text-decoration: none;
}
.backtotop {
	display:none; /*mandatory*/
}