<%@ Page Language="vb" AutoEventWireup="false" Codebehind="CalendarView.aspx.vb" Inherits="ReportDistro.CalendarView"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<script language="javascript">
			 function OpenPop(url,w, h)
		   {	
		    var url1 = url;
		  
			var winProp = "'menubar=no,resizable=yes,locationbar=no,toolbar=no,height=" + h +",width=" + w +",scrollbars=yes"	 
			 window.open(url1,'cw',winProp);
		   }
		   	 function OpenPop1(url,cw,w, h)
		   {	
		    var url1 = url;
		  
			var winProp = "'menubar=no,resizable=yes,locationbar=no,toolbar=no,height=" + h +",width=" + w +",scrollbars=yes"	 
			 window.open(url1,cw,winProp);
		   }
		</script>
		<LINK href="include/Styles.css" type="text/css" rel="stylesheet">
			<style>
		UL { FONT-SIZE: 7pt; FONT-FAMILY: Arial;font-weight: bolder;margin-left: 8px;margin-top: 1px;margin-bottom: 1px; color: #ffffff; }
	LI { FONT-WEIGHT: 500; FONT-SIZE: 7pt; COLOR: #00639a; FONT-FAMILY: Arial;margin-left: 8px; list-style-type: square;}
		</style>
	</HEAD>
	<body bgcolor="black" text="white" vlink="white" alink="white" link="white" face="arial" style="margin-left: 0px;margin-right: 0px;margin-top: 0px;margin-bottom: 0px;">
		<form id="Form1" method="post" runat="server">
			
			<table id="Table3" cellSpacing="0" cellPadding="2" width="100%" border="0">
			<tr><td align=center><asp:label id="lblErrMsg" CssClass="errStyle" Visible="False" Runat="server" ></asp:label> </td></tr>
				<TR height="20">
					<TD class="cellvaluecaption">&nbsp;&nbsp;
						<%=RptCaption%>
						Reports By
						<asp:DropDownList ID="lstGrpBy" Runat="server" AutoPostBack="True">
							<asp:ListItem Value="1">Report Title</asp:ListItem>
							<asp:ListItem Value="2">Fiscal Week</asp:ListItem>
							<asp:ListItem Value="3" Selected="True">Calendar View</asp:ListItem>
						</asp:DropDownList></FONT>
					</TD>
				</TR>
				<tr>
					<td align="center"><asp:calendar id="rptCalendar" TitleStyle-Height="20" TitleStyle-BackColor="#990000" TitleStyle-Font-Name="Arial" TitleStyle-Font-Size="10px" DayHeaderStyle-Font-Name="Arial" DayHeaderStyle-Font-Size="10px" DayHeaderStyle-BorderWidth="1" TitleStyle-Font-Bold="True" SelectionMode="None" DayHeaderStyle-Height="20" ForeColor="#ffffff" DayStyle-HorizontalAlign="Left" DayStyle-VerticalAlign="Top" DayStyle-BorderColor="#990000" BorderColor="#990000" DayStyle-Font-Size="9px" DayStyle-Height="25px" Runat="server" Width="695" DayStyle-BorderWidth="1"></asp:calendar></td>
				</tr>
			</table>
			<!--
			</TD></TR><tr>
				<td>
					<hr color="#990000">
				</td>
				<td>
					<hr color="#990000">
				</td>
				<td>
					<hr color="#990000">
				</td>
				<td>
					<hr color="#990000">
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td align='right'><input class='B1' type='button' name='Home' value='Home' onClick="document.location='../';" ID="Button1"></td>
			</tr>
			</TABLE>
			-->
		</form>
	</body>
</HTML>
