<%@ Page Language="vb" AutoEventWireup="false" Codebehind="WTDReportMain.aspx.vb" Inherits="ReportDistro.WTDReportMain"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title>Report Distribution System</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio.NET 7.0">
		<meta name="CODE_LANGUAGE" content="Visual Basic 7.0">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</head>
	<frameset cols="150,*" framespacing="0" border="0" frameborder="0" bordercolor="#990000">
		<frame name="tree" bordercolor="#990000"  marginwidth="0"  marginheight="0" scrolling="no" noresize target="main" src="WTDReportLeftFrame.aspx?RptType=<%=Request("RptType")%>" style="BORDER-RIGHT: #990000 2px solid">
		<frame name="main" marginwidth="0" marginheight="0" scrolling="auto" noresize src="wait.aspx">
	</frameset>
	<script>
		window.onload = self.focus;
	</script>
</html>
