<%@ Page Language="vb" AutoEventWireup="false" Codebehind="CustInfo_Frame.aspx.vb" Inherits="SSTransfer.CustInfo_Frame"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>CustInfo_Frame</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio.NET 7.0">
		<meta name="CODE_LANGUAGE" content="Visual Basic 7.0">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<script language="javascript">
		function setCustId(CustId,CustName){
			window.opener.document.forms[0].ucScanItem_txtCustomerName.value = CustName;
			window.opener.document.forms[0].ucScanItem_txtHCustId.value = CustId;
			window.opener.document.forms[0].ucScanItem_txtSkuNumber.focus();
			window.close();
		}
		function closepopup(){
			window.close();
		}
		</script>
	</HEAD>
	<body leftmargin="0" rightmargin="0" bottommargin="0" topmargin="0">
		<iframe runat="server" id="fraCust" scrolling="no" src="" width="100%" height="100%">
		</iframe>
	</body>
</HTML>
