<%@ Page Language="vb" AutoEventWireup="false" Codebehind="Fullscreen.aspx.vb" Inherits="SSTransfer.Fullscreen"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title>Fullscreen</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio.NET 7.0">
		<meta name="CODE_LANGUAGE" content="Visual Basic 7.0">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</head>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<a href="" onclick="window.open('transferhome.aspx','dd','fullscreen');">Fullscreen</a>
		</form>
	</body>
</html>
