<%@ Page Language="vb" AutoEventWireup="false" Codebehind="pdftest.aspx.vb" Inherits="SSTransfer.pdftest"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>pdftest</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio.NET 7.0">
		<meta name="CODE_LANGUAGE" content="Visual Basic 7.0">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body>
		<form runat="server">
			<asp:Button id="Button1" style="Z-INDEX: 101; LEFT: 612px; POSITION: absolute; TOP: 157px" Text="Button" runat="server"></asp:Button>
		</form>
	</body>
</HTML>
