<%@ Register TagPrefix="uc1" TagName="Footer" Src="Layout/Footer.ascx" %>
<%@ Register TagPrefix="uc1" TagName="Header" Src="Layout/Header.ascx" %>
<%@ Page Language="vb" AutoEventWireup="false" Codebehind="StoreLogin.aspx.vb" Inherits="SSTransfer.StoreLogin"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>WebForm1</title>
		<META http-equiv="Content-Type" content="text/html; charset=windows-1252">
		<meta content="Microsoft Visual Studio.NET 7.0" name="GENERATOR">
		<meta content="Visual Basic 7.0" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
	</HEAD>
	<body bgColor="black" leftMargin="0" topMargin="0">
		<form id="Form1" method="post" runat="server">
			<TABLE height="100%" id="Table1" cellSpacing="0" cellPadding="0" width="100%" border="0">
				<TR>
					<TD height="1"><uc1:header id="ucHeader" runat="server"></uc1:header></TD>
				</TR>
				<TR>
					<TD>
						<TABLE id="Table4" cellSpacing="1" cellPadding="1" width="100%" border="0">
							<TR>
								<TD style="WIDTH: 17px" align="middle"></TD>
								<TD></TD>
							</TR>
							<TR>
								<TD style="WIDTH: 17px"></TD>
								<TD><asp:textbox id="txtUserID" runat="server" Width="113px" MaxLength="5"></asp:textbox>&nbsp;<SPAN></SPAN>
									<asp:button id="btnSubmit" runat="server" Width="93px" Height="21px" Text="Submit"></asp:button></TD>
							</TR>
							<TR>
								<TD style="WIDTH: 17px"></TD>
								<TD><asp:label id="lblLoginMsg" runat="server" Font-Bold="True" BackColor="Transparent" ForeColor="Red" Font-Names="Arial" Font-Size="Smaller">Generic.</asp:label></TD>
							</TR>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD height="1"><uc1:footer id="ucFooter" runat="server"></uc1:footer></TD>
				</TR>
			</TABLE>
		</form>
	</body>
</HTML>
