<%@ Page Language="vb" AutoEventWireup="false" Codebehind="TestPrint.aspx.vb" Inherits="SSTransfer.TestPrint"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>Test Print</title>
		<STYLE>.classPageBreak { page-break-after: always }</STYLE>
		<meta name="GENERATOR" content="Microsoft Visual Studio.NET 7.0">
		<meta name="CODE_LANGUAGE" content="Visual Basic 7.0">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body MS_POSITIONING="GridLayout" bgcolor="black" style=" COLOR: white; FONT-FAMILY: Arial">
		<form id="Form1" method="post" runat="server">
		</form>
		<%
		  Dim pagebreak="<P CLASS=""classPageBreak""></P>"
		  
		  Dim I as Integer
		  I=1
		  While I < 501
		  I=I+1
		  Response.Write("<Table width='100%'><tr><td nowrap>Header</td></tr>")
		  Response.Write("<tr><td nowrap>Store: 0005</td><td nowrap>Store Name: Whatever</td></tr>")
		  Response.Write("<tr><td nowrap>Item: 123456-001</td><td nowrap>Qty 2</td><td nowrap></td><td nowrap>Shorts with stripes</td></tr></Table>")
          Response.Write(pagebreak)
          End While
		%>
		<p></p>
	</body>
</HTML>
