<%@ Page Language="vb" AutoEventWireup="false" Codebehind="UPSDeleteThis.aspx.vb" Inherits="SSTransfer.UPSDeleteThis"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>UPSDeleteThis</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio.NET 7.0">
		<meta name="CODE_LANGUAGE" content="Visual Basic 7.0">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<asp:Image ID="DD" Runat="server" height="450" width="750" ImageUrl="upslabels\ShippingLabel_1Z90118E0395231424.gif"></asp:Image>
		</form>
	</body>
</HTML>
