<%@ Page Language="vb" AutoEventWireup="false" Codebehind="UPSTEST.aspx.vb" Inherits="SSTransfer.UPSTEST"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>UPSTEST</title>
		<meta content="Microsoft Visual Studio.NET 7.0" name="GENERATOR">
		<meta content="Visual Basic 7.0" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<asp:button id="Button1" style="Z-INDEX: 101; LEFT: 155px; POSITION: absolute; TOP: 90px" runat="server" Text="Button"></asp:button>
			<asp:Label id="Label1" style="Z-INDEX: 102; LEFT: 165px; POSITION: absolute; TOP: 193px" runat="server">Label</asp:Label></form>
	</body>
</HTML>
